:root{
    --secFourContBox: 200px;
}

/* End Setting All */

#sec1 .r1 .text-box{
    width: 100%;
    max-width: 60%;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 0;
}
#sec1 .r1 .text-box h1{
    font-size: 55px;
}
#sec1 .r1 .text-box h2{
    font-size: 35px;
    line-height: 45px;
}

/* End Sec1 */

#sec2{
    padding: 25px 0 45px;
}
#sec2 .r1 .content_block{
    margin: 20px !important;
}
#sec2 .r1 .content_block h2{
    font-size: 40px;
    line-height: 35px;
}
#sec2 .r2,
#sec2 .r3{
    flex-wrap: wrap;
}
#sec2 .r2 .content_block .img_block,
#sec2 .r3 .content_block .img_block{
    width: 100%;
    max-width: 100px;
}
#sec2 .r2 .content_block a{
    color: var(--msBgDark);
    font-weight: 600;
    transition: all 0.2s;
}
#sec2 .r2 .content_block a:hover{
    color: var(--msBg);
}
#sec2 .r2 div[class^="col-"],
#sec2 .r3 div[class^="col-"]{
    padding: 15px 0 !important;
}
#sec2 .r3 .content_block a.a-map{
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}
#sec2 .r3 div[class^="col-"]:not(:last-child){
    border-right: 2px solid var(--msBgDark);
}

/* End Sec2 */

#sec3{
    padding: 20px 20px 30px;
}
#sec3 .r1 .content-block > .content-group {
    margin: auto;
    max-width: 645px;
    border: 2px solid var(--msBgLight);
    padding: 20px;
}
#sec3 .r1 .content-block > .content-group > h1 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 30px;
}
#sec3 #contact-form input {
    min-height: 35px;
}
#sec3 #contact-form textarea {
    resize: vertical;
}
#sec3 #contact-form input,
#sec3 #contact-form textarea{
    background-color: var(--msBgDark);
    border-top: 2px solid var(--msBgDark);
    border-left: 2px solid var(--msBgDark);
    border-right: 2px solid var(--msBgDark);
    border-bottom: 2px solid var(--msBgLight);
    color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
}
#sec3 #contact-form input::placeholder,
#sec3 #contact-form textarea::placeholder{
    color: var(--msBg);
    opacity: 1;
}
#sec3 #contact-form input:-ms-input-placeholder,
#sec3 #contact-form textarea:-ms-input-placeholder{
    color: var(--msBg);
    opacity: 1;
}
#sec3 #contact-form input::-ms-input-placeholder,
#sec3 #contact-form textarea::-ms-input-placeholder{
    color: var(--msBg);
    opacity: 1;
}
#sec3 #contact-form .bt-contact{
    font-size: 25px;
    line-height: 35px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    border: none;
    margin-top: 30px;
    padding: 10px 120px;
    transition: all 0.2s;
}
#sec3 #contact-form .bt-contact:hover{
    color: var(--msBgLight);
    box-shadow: 0px 0px 3px var(--msBgLight);
    transition: all 0.2s;
}

/* End Sec3 */

#sec4 .r1 .col1,
#sec4 .r1 .col2{
    min-height: var(--secFourContBox);
}

/* End Sec4 */
@media (max-width: 1080px){
    #sec1 .r1 .text-box{
        max-width: 80%;
    }
    #sec1 .r1 .text-box h1{
        font-size: 45px;
    }
    #sec1 .r1 .text-box h2{
        font-size: 30px;
        line-height: 40px;
    }

    /* End Sec1 */
}

@media (max-width: 991px){
    #sec1 .r1 .text-box{
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        top: 0;
    }

    /* End Sec1 */
}

@media (max-width: 768px){
    #sec1 .r1 .text-box{
        top: 20px;
        background-color: unset;
    }
    #sec1 .r1 .text-box h1{
        font-size: 25px;
        line-height: 30px;
    }
    #sec1 .r1 .text-box h2{
        font-size: 16px;
        line-height: 20px;
    }

    /* End Sec1 */

    #sec2 .r1 .content_block h2{
        font-size: 35px;
        line-height: 35px;
    }
    #sec2 .r3 div[class^="col-"]:not(:last-child){
        border-right: none;
    }
    #sec2 .r3 div[class^="col-"]:not(:last-child)::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: var(--msBgDark);
    }

    /* End Sec2 */

    #sec3 .r1 .content-block > .content-group > h1 {
        font-size: 30px;
        line-height: 32px;
    }
    #sec3 .r1 .content-block > .content-group {
        padding: 0;
    }
    #sec3 #contact-form .bt-contact {
        font-size: 16px;
        line-height: 35px;
        padding: 5px 15px;
    }

    /* End Sec3 */
}

@media (min-width: 991px){
    #tpc .col-md-2-4{
        width: 20% !important;
    }
}
