
/* End Setting All */

#sec2{
    padding: 25px 0 45px;
}
#sec2 .r1 .content_block{
    margin: 20px !important;
}
#sec2 .r1 .content_block h2{
    font-size: 40px;
    line-height: 35px;
}
#sec2 .r2,
#sec2 .r3{
    flex-wrap: wrap;
}
#sec2 .r2 .content_block .img_block,
#sec2 .r3 .content_block .img_block{
    width: 100%;
    max-width: 100px;
}
#sec2 .r2 .content_block a{
    color: var(--msBgDark);
    font-weight: 600;
    transition: all 0.2s;
}
#sec2 .r2 .content_block a:hover{
    color: var(--msBg);
}
#sec2 .r2 div[class^="col-"],
#sec2 .r3 div[class^="col-"]{
    padding: 15px 0 !important;
}
#sec2 .r3 .content_block a.a-map{
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}
#sec2 .r3 div[class^="col-"]:not(:last-child){
    border-right: 2px solid var(--msBgDark);
}

/* End Sec2 */


@media (max-width: 768px){
    #sec2 .r1 .content_block h2{
        font-size: 35px;
        line-height: 35px;
    }
    #sec2 .r3 div[class^="col-"]:not(:last-child){
        border-right: none;
    }
    #sec2 .r3 div[class^="col-"]:not(:last-child)::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: var(--msBgDark);
    }

    /* End Sec2 */
}

@media (min-width: 991px){
    #tpc .col-md-2-4{
        width: 20% !important;
    }
}
