body{
    --sec2-padding:40px 0;
    --sec3-padding:40px 0;
    --sec6-padding:40px 0;
    --sec7-padding:40px 0;
}
#tpc_bg{
    overflow: hidden;
}
.wrapper{
    margin: 0 !important;
}

/* end all setting */

#sec1  .sec1_wrapper{
    overflow: hidden;
}
#sec1 .col-h1{
    background-color: #00000045;
}
#sec1 .head-title{
    font-size: 60px !important;
    line-height: 70px !important;
    text-align: center;
}
#sec1 .head-desc{
    text-align: center;
}
#sec1 .head-content .content{
    max-width: 90%;
}
#sec1 .head-content .content > *{
    color: #fff;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
    background-image: url('/assets/images/home v2/desktop/background-Catalog-company-profile-ThaiPolyester.webp');
    background-position: center center;
    background-size: cover;
}
#sec2 .download-btn{
    margin-top: 30px;
}
#sec2 .download-btn > a{
    font-size: 30px;
    font-weight: 600;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 25px 45px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec2 .download-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}

/* end sec3 */

#sec3 .col1{
    padding: var(--sec3-padding) !important;
    max-width: 1140px;
}
#sec3 .about-btn{
    margin-top: 30px;
}
#sec3 .about-btn > a{
    font-size: 30px;
    font-weight: 600;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 25px 45px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec3 .about-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}

/* end sec3 */

#sec6 .content{
    background-color: #202731c3;
    color: #ffffff;
    width: 100%;
    max-width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#sec6 .content .content_group{
    width: 100%;
    max-width: 85%;
    padding: var(--sec6-padding);
}
#sec6 .filament-btn{
    margin-top: 30px;
}
#sec6 .filament-btn > a{
    font-size: 20px;
    color: var(--msBg);
    transition: all 0.2s;
}
#sec6 .filament-btn > a:hover{
    color: var(--msBgLight);
    transition: all 0.2s;
}

/* end sec6 */

#sec7 .content .content_group{
    padding: var(--sec7-padding);
    background-color: #202731c3;
    color: #ffffff;
    width: 100%;
}
#sec7 .content .content_group .container{
    width: 100%;
    max-width: 1140px;
}
#sec7 .spun-btn{
    margin-top: 30px;
}
#sec7 .spun-btn > a{
    font-size: 20px;
    color: var(--msBg);
    transition: all 0.2s;
}
#sec7 .spun-btn > a:hover{
    color: var(--msBgLight);
    transition: all 0.2s;
}

@media only screen and (min-width: 1400px){
    #sec1 .head-title{
        font-size: 65px !important;
        line-height: 70px !important;
    }
    #sec1 .head-desc{
        font-size: 21px !important;
        line-height: 31px !important;
    }

    /* end sec1 */
}
@media only screen and (min-width: 1600px){
    #sec1 .head-title{
        font-size: 70px !important;
        line-height: 80px !important;
    }
    #sec1 .head-desc{
        font-size: 26px !important;
        line-height: 36px !important;
    }

    /* end sec1 */
}
@media only screen and (max-width: 991px){
    body{
        --sec6-padding:20px 15px;
        --sec7-padding:15px;
    }

    /* end all setting */

    #sec1 .col-h1{
        height: 100% !important;
    }
    #sec1 .head-title{
        font-size: 50px !important;
        line-height: 60px !important;
    }
    #sec1 .head-desc{
        font-size: 16px !important;
        line-height: initial !important;
    }

    /* end sec1 */

    #sec6 .content{
        background-color: #202731;
        color: #ffffff;
        max-width: 100%;
        height: 100%;
        position: relative;
    }
    #sec6 .content .content_group {
        width: 100%;
        max-width: 100%;
    }

    /* end sec6 */

    #sec7 .content .content_group .container {
        padding: 0;
    }
}
@media only screen and (max-width: 768px){
    #sec1{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #sec1 .sec1_wrapper #video1{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #sec1 .head-title{
        text-align: left;
    }
    #sec1 .head-desc{
        text-align: left;
    }
    #sec1 .head-content .content{
        max-width: 95%;
    }

    /* end sec1 */
}
