body{
    --sec2-padding:40px 0;
    --sec3-padding:40px 0;
    --sec4-padding:40px 0;
    --sec5-padding:40px 0;
    --sec6-padding:40px 0;
    --sec7-padding:40px 0;
    --sec8-padding:40px 0;
    --sec9-padding:40px 0;
}
#tpc_bg{
    overflow: hidden;
}
.wrapper{
    margin: 0 !important;
}

/* end all setting */

#sec1  .sec1_wrapper{
    overflow: hidden;
}
#sec1 .col-h1{
    background-color: #00000045;
}
#sec1 .head-title{
    font-size: 60px !important;
    line-height: 70px !important;
    text-align: center;
}
#sec1 .head-desc{
    text-align: center;
}
#sec1 .head-content .content{
    max-width: 90%;
}
#sec1 .head-content .content > *{
    color: #fff;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
    background-image: url('/assets/images/home/desktop/background-Catalog-company-profile-ThaiPolyester.webp');
    background-position: center center;
    background-size: cover;
}
#sec2 .download-btn{
    margin-top: 30px;
}
#sec2 .download-btn > a{
    font-size: 30px;
    font-weight: 600;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 25px 45px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec2 .download-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}

/* end sec3 */

#sec3 .col1{
    padding: var(--sec3-padding) !important;
    max-width: 1140px;
}
#sec3 .about-btn{
    margin-top: 30px;
}
#sec3 .about-btn > a{
    font-size: 30px;
    font-weight: 600;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 25px 45px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec3 .about-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}

/* end sec3 */

#sec4{
    padding: var(--sec4-padding);
}
#sec4 .sec4-title{
    margin: 30px 0;
}
#sec4 .fw{
    font-weight: 800;
}
#sec4 .container{
    width: 100%;
    max-width: calc(100% - 40px);
}
#sec4 .content{
    cursor: pointer;
    background-color: #20273186;
    transition: all .5s ease-in-out;
}
#sec4 .content:hover{
    background-color: #202731d2;
    transition: all .5s ease-in-out;
}
#sec4 .content .content_group > .content-desc{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#sec4 .content:hover .content_group > .content-desc{
    height: 116px;
    opacity: 1;
    transition: all .5s ease-in-out;
}
#sec4 .content .content_group{
    padding: 15px;
}

/* end sec4 */

#sec5{
    padding: var(--sec5-padding);
}
#sec5 .fw{
    font-weight: 800;
}
#sec5 .r2{
    margin-top: 30px !important;
}
#sec5 .r2 .col1 .content{
    max-width: 1140px;
}
#sec5 .recycled-btn{
    margin-top: 30px;
}
#sec5 .recycled-btn > a{
    font-size: 20px;
    color: var(--msBg);
    transition: all 0.2s;
}
#sec5 .recycled-btn > a:hover{
    color: var(--msBgDark);
    transition: all 0.2s;
}
#sec5 .recycled-img-block{
    position: relative;
    display: flex;
}
#sec5 .recycled-img-block .recycled-img{
    position: relative;
    width: 90%;
}
#sec5 .recycled-img-block .recycled-img-icon{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#sec5 .recycled-img-block .recycled-img-icon picture{
    margin: auto;
    margin-right: -15%;
}
#sec5 .recycled-img-block.step1 .recycled-img{
    z-index: 10;
}
#sec5 .recycled-img-block.step1 .recycled-img-icon{
    z-index: 9;
}
#sec5 .recycled-img-block.step2 .recycled-img{
    z-index: 8;
}
#sec5 .recycled-img-block.step2 .recycled-img-icon{
    z-index: 7;
}
#sec5 .recycled-img-block.step3 .recycled-img{
    z-index: 6;
}
#sec5 .recycled-img-block.step3 .recycled-img-icon{
    z-index: 5;
}
#sec5 .recycled-img-block.step4 .recycled-img{
    z-index: 4;
}
#sec5 .recycled-img-block.step4 .recycled-img-icon{
    z-index: 3;
}
#sec5 .recycled-img-block.step5 .recycled-img{
    z-index: 2;
}
#sec5 .recycled-img-block.step5 .recycled-img-icon{
    z-index: 1;
}
#sec5 .step-tag{
    margin: 15px auto;
    padding: 13px 15px;
    font-size: 22px;
    font-weight: 700;
    width: fit-content;
    border-radius: 30px;
    background-color: var(--msBg);
}
#sec5 .r1 .col1 .recycled-row .recycled-img-block,
#sec5 .r1 .col2 .recycled-row .recycled-img-block,
#sec5 .r1 .col3 .recycled-row .recycled-img-block,
#sec5 .r1 .col4 .recycled-row .recycled-img-block,
#sec5 .r1 .col5 .recycled-row .recycled-img-block{
    margin-bottom: 15px;
}

/* end sec5 */

#sec6{
    margin-bottom: 15px;
}
#sec6 .fw{
    font-weight: 800;
}
#sec6 .content{
    background-color: #202731c3;
    color: #ffffff;
    width: 100%;
    max-width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#sec6 .content .content_group{
    width: 100%;
    max-width: 85%;
    padding: var(--sec6-padding);
}
#sec6 .filament-btn{
    margin-top: 30px;
}
#sec6 .filament-btn > a{
    font-size: 20px;
    color: var(--msBg);
    transition: all 0.2s;
}
#sec6 .filament-btn > a:hover{
    color: var(--msBgLight);
    transition: all 0.2s;
}

/* end sec6 */

#sec7 .content .content_group{
    padding: var(--sec7-padding);
    background-color: #202731c3;
    color: #ffffff;
    width: 100%;
}
#sec7 .content .content_group .container{
    width: 100%;
    max-width: 1140px;
}
#sec7 .spun-btn{
    margin-top: 30px;
}
#sec7 .spun-btn > a{
    font-size: 20px;
    color: var(--msBg);
    transition: all 0.2s;
}
#sec7 .spun-btn > a:hover{
    color: var(--msBgLight);
    transition: all 0.2s;
}

/* end sec7 */

#sec8{
    padding: var(--sec8-padding);
}
#sec8 .fw{
    font-weight: 800;
}
#sec8 .col1 > .content{
    max-width: 1140px;
    padding-bottom: 2.5%;
}
#sec8 .col3 h3 .star{
    width: 30px;
}
#sec8 ul.custumer-lists{
    padding: 0;
	margin: auto;
	list-style-type: decimal;
	list-style-position: inside;
}
#sec8 ul.custumer-lists > li{
    text-indent: 15%;
    line-height: 25px;
}
#sec8 ul.custumer-lists > li::marker{
	color: var(--msBg);
}
#sec8 .col3{
    background-image: linear-gradient(#ccc 0 5%, #fff 50% 100%);
}
#sec8 .col3 h3.thailand{
    margin: 30px 0;
}
#sec8 .col3 .arrow-block {
    text-align: center;
    transition: transform 0.2s;
}
#sec8 .col3 .arrow-block img.rotate {
    transform: rotate(180deg);
    transition: transform 0.2s;
}
#sec8 .col3 .arrow-block img{
    margin-top: 10px;
    width: 40px;
    cursor: pointer;
}

/* end sec8 */

#sec9{
    padding: var(--sec9-padding);
}
#sec9 .fw{
    font-weight: 800;
}
#sec9 .r2{
    margin-top: 30px !important;
}

/* end sec9 */

@media only screen and (min-width: 1400px){
    #sec1 .head-title{
        font-size: 65px !important;
        line-height: 70px !important;
    }
    #sec1 .head-desc{
        font-size: 21px !important;
        line-height: 31px !important;
    }

    /* end sec1 */
}
@media only screen and (min-width: 1600px){
    #sec1 .head-title{
        font-size: 70px !important;
        line-height: 80px !important;
    }
    #sec1 .head-desc{
        font-size: 26px !important;
        line-height: 36px !important;
    }

    /* end sec1 */
}
@media only screen and (min-width: 992px){
    #sec5 .col-md-2-5{
        width: 20% !important;
    }

    /* end sec5 */

    #sec8 .col-md-2-5{
        width: 20% !important;
    }

    /* end sec8 */
}
@media only screen and (max-width: 991px){
    body{
        --sec4-padding:20px 0;
        --sec5-padding:20px 0;
        --sec6-padding:20px 15px;
        --sec7-padding:15px;
        --sec8-padding:20px 0;
        --sec9-padding:20px 0;
    }

    /* end all setting */

    #sec1 .col-h1{
        height: 100% !important;
    }
    #sec1 .head-title{
        font-size: 50px !important;
        line-height: 60px !important;
    }
    #sec1 .head-desc{
        font-size: 16px !important;
        line-height: initial !important;
    }

    /* end sec1 */

    #sec5 .recycled-img-block .recycled-img-icon picture{
        margin: auto;
        margin-right: inherit;
        margin-bottom: -17%;
    }
    #sec5 .r1 .recycled-row{
        display: flex;
        flex-direction: column;
    }
    #sec5 .r1 .recycled-row .recycled-col1{
        order: 1;
    }
    #sec5 .r1 .recycled-row .recycled-col2{
        order: 3;
    }
    #sec5 .r1 .recycled-row .recycled-col3{
        order: 2;
        padding: 15px;
    }
    #sec5 .r1 .col1 .recycled-row .recycled-img-block,
    #sec5 .r1 .col2 .recycled-row .recycled-img-block,
    #sec5 .r1 .col3 .recycled-row .recycled-img-block,
    #sec5 .r1 .col4 .recycled-row .recycled-img-block{
        margin-bottom: 45px;
    }
    #sec5 .r1 .col1,
    #sec5 .r1 .col2,
    #sec5 .r1 .col3,
    #sec5 .r1 .col4,
    #sec5 .r1 .col5{
        padding: 15px;
    }

    /* end sec5 */

    #sec6{
        margin-bottom: unset;
    }
    #sec6 .content{
        background-color: #202731;
        color: #ffffff;
        max-width: 100%;
        height: 100%;
        position: relative;
    }
    #sec6 .content .content_group {
        width: 100%;
        max-width: 100%;
    }

    /* end sec6 */

    #sec7 .content .content_group .container {
        padding: 0;
    }

    /* end sec7 */

    #sec9 .r2{
        flex-wrap: wrap;
    }
    #sec9 .r2 > .col1{
        order: 2;
    }
    #sec9 .r2 > .col2{
        order: 3;
    }
    #sec9 .r2 > .col3{
        order: 1;
    }
    #sec9 .flex-c {
        flex-direction: inherit;
    }

    /* end sec9 */
}
@media only screen and (max-width: 768px){
    #sec1{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #sec1 .sec1_wrapper #video1{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #sec1 .head-title{
        text-align: left;
    }
    #sec1 .head-desc{
        text-align: left;
    }
    #sec1 .head-content .content{
        max-width: 95%;
    }

    /* end sec1 */

    #sec4 .container{
        padding: 0;
        max-width: calc(100% - 40px);
    }

    /* end sec4 */

    #sec8 .container{
        padding: 0;
    }

    /* end sec8 */
}
@media only screen and (max-width: 640px){
    #sec4 .content .content_group > .content-desc{
        font-size: 11.6px;
    }
    #sec4 .content:hover .content_group > .content-desc{
        height: 120px;
    }

    /* end sec4 */

    #sec8 ul.custumer-lists > li{
        text-indent: 0;
    }

    /* end sec8 */
}
