body{
    --prod1-bg-color:#f7efe8;
    --prod2-bg-color:#5a514e;
    --prod3-bg-color:#e7d5c1;
    --prod4-bg-color:#718d8e;
    --prod5-bg-color:#e9dbaa;
    --prod6-bg-color:#255456;
    --prod7-bg-color:#d0d5cd;
    --prod8-bg-color:#bb8968;
    --prod9-bg-color:#ede4de;
    --prod10-bg-color:#eac085;
    --prod11-bg-color:#c1d6d7;
    --r1-col1-padding:0 7.5px 0 0;
    --r1-col2-padding:0 0 0 7.5px;
    --r2-col1-padding:0 7.5px 0 0;
    --r2-col2-padding:0 0 0 7.5px;
    --r3-col1-padding:0 7.5px 7.5px 0;
    --r3-col2-padding:7.5px 7.5px 0 0;
    --r3-col3-padding:7.5px 7.5px 0 7.5px;
    --r3-col4-padding:0 0 7.5px 7.5px;
    --r3-col5-padding:7.5px 0 0 7.5px;
    --r4-col1-padding:0 7.5px 0 0;
    --r4-col2-padding:0 0 0 7.5px;
}

/* end all setting */

#sec1 .owl-carousel .owl-nav{
    color: var(--msBg);
    transition: all 0.2s;
}
#sec1 .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    bottom: 25%;
    left: 40%;
    font-size: 52px;
    font-weight: bold;
    transition: all 0.2s;
}
#sec1 .owl-carousel .owl-nav .owl-next{
    position: absolute;
    bottom: 25%;
    right: 40%;
    font-size: 52px;
    font-weight: bold;
    transition: all 0.2s;
}
#sec1 .owl-carousel .owl-nav .owl-prev:hover,
#sec1 .owl-carousel .owl-nav .owl-next:hover{
    transform: scale(1.2001);
    transition: all 0.2s;
}
#sec1 .owl-carousel .owl-nav.c-green,
#sec1 .owl-carousel .owl-nav.c-green{
    color: var(--msBg);
    transition: all 0.2s;
}
#sec1 .owl-carousel .owl-nav.c-white,
#sec1 .owl-carousel .owl-nav.c-white{
    color: var(--msBgLight);
    transition: all 0.2s;
}
#sec1 .slide .item.head .content{
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
}
#sec1 .slide .item.head .slide-title{
    font-size: 6em;
    line-height: 100%;
}
#sec1 .slide .item.green .content{
    position: absolute;
    width: 100%;
    top: 10.5%;
    left: 0;
}
#sec1 .slide .item.green .slide-title{
    font-size: 6em;
    line-height: 100%;
    color: var(--msBgLight);
    margin-top: 30px !important;
}
#sec1 .slide .item.green .slide-img img{
    max-width: 85%;
}
#sec1 .slide .item.blue .content{
    position: absolute;
    width: 100%;
    top: 10.5%;
    left: 0;
}
#sec1 .slide .item.blue .slide-title{
    font-size: 6em;
    line-height: 100%;
    color: var(--msBgDark);
    margin-top: 30px !important;
}
#sec1 .slide .item.blue .slide-img img{
    max-width: 85%;
}
#sec1 .slide .item .slide-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#sec1 .slide .item.head .slide-footer{
    background-color: var(--msBgDark);
    color: var(--msBgLight);
}
#sec1 .slide .item.green .slide-footer{
    background-color: transparent;
    border-top: 1px solid #ccc;
    color: var(--msBgLight);
}
#sec1 .slide .item.blue .slide-footer{
    background-color: transparent;
    border-top: 1px solid #ccc;
    color: var(--msBgDark);
}
#sec1 .slide .item .slide-footer .type-block{
    min-width: 90%;
    padding: 10px 0;
}
#sec1 .slide .item.head .slide-footer .type-block .type-lists:not(:last-child)::after,
#sec1 .slide .item.green .slide-footer .type-block .type-lists:not(:last-child)::after{
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 80%;
    background-color: #ccc;
}
#sec1 .slide .item.blue .slide-footer .type-block .type-lists:not(:last-child)::after{
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 80%;
    background-color: var(--msBgDark);
}
#sec1 .slide .item .slide-footer .type-block .type-lists .type-group{
    min-width: 80%;
}
#sec1 .slide .item .slide-footer .type-block .type-lists .type-group .type-content{
    text-transform: uppercase;
    font-size: 16px;
}

/* end sec1 */

#sec2{
    padding: 15px;
}
#sec2 .prod1{
    background-color: var(--prod1-bg-color);
    color: var(--msBgDark);
}
#sec2 .prod2{
    background-color: var(--prod2-bg-color);
    color: var(--msBgLight)
}
#sec2 .prod3{
    background-color: var(--prod3-bg-color);
    color: var(--msBgDark);
}
#sec2 .prod4{
    background-color: var(--prod4-bg-color);
    color: var(--msBgLight)
}
#sec2 .prod5{
    background-color: var(--prod5-bg-color);
    color: var(--msBgDark)
}
#sec2 .prod6{
    background-color: var(--prod6-bg-color);
    color: var(--msBgLight)
}
#sec2 .prod7{
    background-color: var(--prod7-bg-color);
    color: var(--msBgDark)
}
#sec2 .prod8{
    background-color: var(--prod8-bg-color);
    color: var(--msBgDark)
}
#sec2 .prod9{
    background-color: var(--prod9-bg-color);
    color: var(--msBgDark)
}
#sec2 .prod10{
    background-color: var(--prod10-bg-color);
    color: var(--msBgDark);
}
#sec2 .prod11{
    background-color: var(--prod11-bg-color);
    color: var(--msBgDark);
}
#sec2 .star{
    max-width: 20%;
    margin: 15px auto;
}
#sec2 .prod-block{
    padding: 15px 0 0;
}
#sec2 .prod-block:hover .star{
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#sec2 .prod-desc .prod-title{
    font-size: 32px;
    line-height: 32px;
}
#sec2 .prod-desc{
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
}
#sec2 .prod-desc table tr > th,
#sec2 .prod-desc table tr > td{
    font-size: 80%;
}
#sec2 .r1{
    margin: 0;
    margin-bottom: 15px;
}
#sec2 .r1 .col1{
    padding: var(--r1-col1-padding) !important;
}
#sec2 .r1 .col2{
    padding: var(--r1-col2-padding) !important;
}
#sec2 .r2{
    margin: 0;
    margin: 15px 0;
}
#sec2 .r2 .col1{
    padding: var(--r2-col1-padding) !important;
}
#sec2 .r2 .col2{
    padding: var(--r2-col2-padding) !important;
}
#sec2 .r3{
    margin: 0;
    margin: 15px 0;
}
#sec2 .r3 .col1{
    padding: var(--r3-col1-padding) !important;
}
#sec2 .r3 .col4{
    padding: var(--r3-col4-padding) !important;
}
#sec2 .r3 .col2{
    padding: var(--r3-col2-padding) !important;
}
#sec2 .r3 .col3{
    padding: var(--r3-col3-padding) !important;
}
#sec2 .r3 .col5{
    padding: var(--r3-col5-padding) !important;
}
#sec2 .r4{
    margin: 0;
    margin-top: 15px;
}
#sec2 .r4 .col1{
    padding: var(--r4-col1-padding) !important;
}
#sec2 .r4 .col2{
    padding: var(--r4-col2-padding) !important;
}
#sec2 .prod3 .img-custom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 40px);
}
#sec2 .prod8 .img-custom{
    width: calc(100% + 40px);
}

/* end sec2 */

@media only screen and (min-width: 1350px){
    #sec1 .owl-carousel .owl-nav .owl-prev{
        bottom: 20%;
        font-size: 92px;
    }
    #sec1 .owl-carousel .owl-nav .owl-next{
        bottom: 20%;
        font-size: 92px;
    }
    #sec1 .slide .item.head .slide-title{
        font-size: 8em;
    }
    #sec1 .slide .item.green .slide-title{
        font-size: 5.3em;
        margin-top: 60px !important;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 5.3em;
        margin-top: 60px !important;
    }
    #sec1 .slide .item .slide-footer .type-block .type-lists .type-group .type-content{
        font-size: 24px;
    }

    /* end sec1 */

    #sec2 .prod-desc{
        font-size: 24px;
        line-height: 24px;
        padding: 10px;
    }

    /* end sec2 */
}
@media only screen and (max-width: 991px){
    body{
        --r1-col1-padding:0 3.75px 0 0;
        --r1-col2-padding:0 0 0 3.75px;
        --r2-col1-padding:0 3.75px 0 0;
        --r2-col2-padding:0 0 0 3.75px;
        --r3-col1-padding:0 3.75px 3.75px 0;
        --r3-col2-padding:3.75px 3.75px 0 0;
        --r3-col3-padding:3.75px 3.75px 0 3.75px;
        --r3-col4-padding:0 0 3.75px 3.75px;
        --r3-col5-padding:3.75px 0 0 3.75px;
        --r4-col1-padding:0 3.75px 0 0;
        --r4-col2-padding:0 0 0 3.75px;
    }

    /* end all setting */

    #sec1 .slide .item.head .content{
        top: 1%;
    }
    #sec1 .slide .item.head .slide-title{
        font-size: 4em;
    }
    #sec1 .slide .item.green .content{
        top: 1.5%;
    }
    #sec1 .slide .item.green .slide-title{
        font-size: 4em;
    }
    #sec1 .slide .item.blue .content{
        top: 1.5%;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 4em;
    }

    /* end sec1 */

    #sec2 .prod-desc .prod-title{
        font-size: 30px;
        line-height: 30px;
    }

    /* end sec2 */
}
@media only screen and (max-width: 768px){
    #sec1 .slide .item.head .content{
        top: 5%;
    }
    #sec1 .slide .item.head .slide-title{
        font-size: 3em;
    }
    #sec1 .slide .item.green .content{
        top: 5.5%;
    }
    #sec1 .slide .item.green .slide-title{
        font-size: 3em;
    }
    #sec1 .slide .item.blue .content{
        top: 5.5%;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 3em;
    }

    /* end sec1 */

    #sec2{
        padding: 7.5px;
    }
    #sec2 .prod-block{
        padding: 7.5px 0 0;
    }
    #sec2 .r1{
        margin-bottom: 7.5px;
    }
    #sec2 .r2{
        margin: 7.5px 0;
    }
    #sec2 .r3{
        margin: 7.5px 0;
    }
    #sec2 .r4{
        margin-top: 7.5px;
    }
    #sec2 .star{
        margin: 7.5px auto;
    }
    #sec2 .prod3 .img-custom{
        width: calc(100% + 20px);
    }
    #sec2 .prod8 .img-custom{
        width: calc(100% + 30px);
    }

    /* end sec2 */
}
@media only screen and (min-width: 641px){
    .show-m{
        display: none;
    }

    /* end all setting */
}
@media only screen and (max-width: 640px){
    .show-d{
        display: none;
    }

    /* end all setting */

    #sec1 .owl-carousel .owl-nav .owl-prev{
        bottom: 20%;
        left: 40%;
        font-size: 32px;
    }
    #sec1 .owl-carousel .owl-nav .owl-next{
        bottom: 20%;
        right: 40%;
        font-size: 32px;
    }
    #sec1 .slide .item.head .content{
        top: 1%;
    }
    #sec1 .slide .item.green .content{
        top: 1.5%;
    }
    #sec1 .slide .item.green .slide-title{
        font-size: 2em;
        line-height: 38px;
    }
    #sec1 .slide .item.blue .content{
        top: 1.5%;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 2em;
        line-height: 38px;
    }
    #sec1 .slide .item.green .slide-title,
    #sec1 .slide .item.blue .slide-title{
        margin-top: 15px !important;
    }
    #sec1 .slide .item .slide-footer .type-block .type-lists .type-group .type-content{
        font-size: 8px;
    }

    /* end sec1 */

    #sec2 .prod-desc{
        font-size: 7px;
        line-height: 7px;
        padding: 2px;
    }
    #sec2 .prod-desc .prod-title{
        font-size: 13px;
        line-height: 13px;
    }

    /* end sec2 */
}
@media only screen and (max-width: 540px){
    #sec1 .slide .item.green .slide-title{
        font-size: 1.3em;
        line-height: 34px;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 1.3em;
        line-height: 34px;
    }

    /* end sec1 */
}
@media only screen and (max-width: 300px){
    #sec1 .owl-carousel .owl-nav .owl-prev{
        bottom: 28%;
        left: 35%;
        font-size: 22px;
    }
    #sec1 .owl-carousel .owl-nav .owl-next{
        bottom: 28%;
        right: 35%;
        font-size: 22px;
    }
    #sec1 .slide .item.head .slide-title{
        font-size: 1.5em;
        line-height: 28px;
    }
    #sec1 .slide .item.green .slide-title{
        font-size: 0.9em;
        line-height: 20px;
    }
    #sec1 .slide .item.blue .slide-title{
        font-size: 0.9em;
        line-height: 20px;
    }

    /* end sec1 */

    #sec2 .prod-desc{
        font-size: 6px;
        line-height: 6px;
    }
    #sec2 .prod-desc .prod-title{
        font-size: 9px;
        line-height: 9px;
    }
    #sec2 .star{
        margin: 3.75px auto;
    }
    #sec2 .prod3 .img-custom{
        width: calc(100% + 15px);
    }
    #sec2 .prod8 .img-custom{
        width: calc(100% + 20px);
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
