body {

}
span.highlight{
	color: var(--msBg);
	font-weight: 600;
	word-wrap: break-word;
}
.bg-white{
	background-color: var(--msBgLight);
}
.bg-black{
	background-color: var(--msBgDark);
	color: #fff;
}
.bg-green{
	background-color: var(--msBg);
	color: #fff;
}
.bg-gray{
	background-color: #F2F2F2;
}
#prod_poly {
	padding: 0px 54px;
    background-color: var(--msBg);
    font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	max-width: 1920px;
}
#prod_poly img{
	width: 100%;
}
#prod_poly_bg{
	background-color: var(--msBgLight);
}
#prod_poly .p-0{
	padding: 0;
}
#prod_poly .m-0{
	margin: 0;
}
#prod_poly .ml-0{
	margin-left: 0;
}
#prod_poly .mr-0{
	margin-right: 0;
}
#prod_poly .mt-0{
	margin-top: 0;
}
#prod_poly .mb-0{
	margin-bottom: 0;
}

	/*-------------------------------------End Setting All-------------------------------------*/


#prod_poly .section-two{
	padding: 60px 10px;
}
#prod_poly .section-two .container-fluid{
	padding: 0 20px;
}
#prod_poly .section-two .r1{
	padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
}
#prod_poly .section-two .r1 > div[class^="col-"]{
	padding: 8px 4px;
}

	/*-------------------------------------End Section Two-------------------------------------*/

@media only screen and (max-width: 991px){
    #prod_poly .ml-0{
        margin-left: auto;
    }
    #prod_poly .mr-0{
        margin-right: auto;
    }
    #prod_poly .mt-0{
        margin-top: auto;
    }
    #prod_poly .mb-0{
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 768px){
	#prod_poly{
		padding: 0;
	}

	/*-------------------------------------End Setting All-------------------------------------*/

	#prod_poly .section-two{
		padding: 10px 0;
	}
	#prod_poly .section-two .container-fluid{
		padding: 0 10px;
	}
	#prod_poly .section-two .r1 > div[class^="col-"]{
		padding: 4px 2px;
	}

	/*-------------------------------------End Section Two-------------------------------------*/

}
