body{
    --padding-sec1: 60px 40px;
    --indent-sec1:30px;
    --padding-sec2: 0px 40px 60px;
    --indent-sec2:30px;
    --sec1-min-height:800px;
    --sec3-min-height:400px;
    --sec4-min-height:400px;
    --padding-sec3: 0px 90px;
    --padding-sec5: 80px 40px;
    --indent-sec5:30px;
    --padding-sec6: 60px 40px;
    --indent-sec6:30px;
}

/* end all setting */

#sec1{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester.webp');
    background-position: center center;
    background-size: cover;
    padding: var(--padding-sec1);
    min-height: var(--sec1-min-height);
}
#sec1 .col1 .content_group{
    min-height: calc(var(--sec1-min-height) / 1.5);
}
#sec1 .col1 .content_group .content{
    max-width: 991px;
}
#sec1 .col1 .content_group h1{
    margin-bottom: 60px;
}
#sec1 .col1 .content_group p.head-desc{
    text-indent: var(--indent-sec1);
}
#sec1 .col2 .img_block{
    right: -25px;
}

/* end sec1 */

#sec2{
    padding: var(--padding-sec2);
}
#sec2 .col1 .content_group{
    margin-top: -15%;
}
#sec2 .col1 .content_group .video_1{
    max-width: 1200px;
    margin-bottom: 40px;
}
#sec2 .col1 .content_group .video_1 video{
    width: 100%;
    max-width: 100%;
}
#sec2 .col1 .content_group .video_1 figure.btn-play button[name="play"] {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
#sec2 .col2 .content_group .content{
    max-width: 991px;
}
#sec2 .col2 .content_group .content h2{
    margin-bottom: 30px;
}
#sec2 .col2 .content_group .content p{
    text-indent: var(--indent-sec2);
}

/* end sec2 */

#sec3{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester-1.webp');
    background-position: center center;
    background-size: cover;
    padding: var(--padding-sec3);
}
#sec3 .col1,
#sec3 .col2{
    min-height: var(--sec3-min-height);
}
#sec3 .col1{
    display: flex;
}
#sec3 .col1 .content_group{
    display: flex;
}
#sec3 .col1 .content_group .content{
    margin: auto;
}
#sec3 .col1::after{
    content: " ";
    position: absolute;
    right: -15px;
    top: 15%;
    width: 10px;
    height: 70%;
    background-color: var(--msBg);
}
#sec3 .col2 .content_group{
    max-width: 500px;
}

/* end sec3 */

#sec4{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester-1.webp');
    background-position: center center;
    background-size: cover;
    min-height: var(--sec4-min-height);
    padding: var(--padding-sec4);
}

/* end sec4 */

#sec5{
    padding: var(--padding-sec5);
}
#sec5 .content_group .content{
    max-width: 1200px;
}
#sec5 .content_group .content h2{
    text-align: center;
    margin-bottom: 30px;
}
#sec5 .content_group .content p{
    text-indent: var(--indent-sec5);
}

/* end sec5 */

#sec6{
    padding: var(--padding-sec6);
}
#sec6 .col2 .content_group .content h2{
    margin-bottom: 40px;
}
#sec6 .col2 .content_group .content p{
    text-indent: var(--indent-sec6);
}

/* end sec6 */

@media only screen and (max-width: 991px){
    body{
        --sec1-min-height:568px;
        --sec3-min-height:0px;
        --sec4-min-height:0px;
    }

    /* end all setting */

    #sec1 .col1 .content_group h1{
        margin-bottom: 40px;
    }

    /* end sec1 */

    #sec2 .col1 .content_group{
        margin-top: unset;
    }

    /* end sec2 */

    #sec3 .col1::after{
        display: none;
    }
    #sec3 .col1{
        display: block;
    }
    #sec3 .col1 .content_group{
        display: block;
    }
    #sec3 .col1 .content_group .content{
        margin: auto !important;
        margin-left: 0px !important;
    }
    #sec3 .col2 .content_group{
        max-width: unset;
    }

    /* end sec3 */

    #sec5 .content_group .content h2{
        text-align: left;
    }

    /* end sec5 */

    #sec6 .col2 .content_group .content h2{
        margin-bottom: 30px;
    }

    /* end sec6 */
}
@media only screen and (max-width: 768px){

    #sec1 .col1 .content_group{
        min-height: calc(var(--sec1-min-height) / 4);
    }
    #sec1 .col1 .content_group h1{
        margin-bottom: 30px;
    }
    #sec1 p.head-desc{
        background-color: #20273129;
        padding: 15px;
        border-radius: 30px;
    }

    /* end sec1 */
}
@media only screen and (max-width: 640px){
    body{
        --padding-sec1: 30px 20px;
        --padding-sec2: 30px 20px;
        --padding-sec3: 0px 20px;
        --padding-sec5: 30px 20px;
        --padding-sec6: 30px 20px;
        --sec1-min-height:448px;
    }

    /* end all setting */

    #sec1{
        background-image: url('/assets/images/psf-v2/mobile/background-PSF-V2-Thaipolyester.webp');
    }
    #sec1 .col1 .content_group{
        min-height: 0;
    }
    #sec1 .col1 .content_group h1{
        margin-bottom: 20px;
    }
    #sec1 .col2 .img_block{
        right: -5px;
    }

    /* end sec1 */

    #sec3{
        background-image: unset;
    }

    /* end sec3 */
}
@media only screen and (max-width: 420px){
    #sec1 p.head-desc{
        background-color: unset;
        padding: 0 15px;
        border-radius: unset;
    }
    #sec1 p.head-desc span{
        display: block;
    }

    /* end sec1 */
}
