body{
    --sec1-min-height:800px;
    --sec3-min-height:400px;
    --sec4-min-height:400px;
    --sec12-min-height:185px;
    --padding-sec1: 60px 40px;
    --padding-sec2: 0px 40px 60px;
    --padding-sec3: 0px 90px;
    --padding-sec4: 60px 40px;
    --padding-sec5: 80px 40px;
    --padding-sec6: 60px 40px;
    --padding-sec7: 60px 40px;
    --padding-sec8: 60px 40px 0px;
    --padding-sec9: 30px 40px;
    --padding-sec10: 0px 40px 60px;
    --padding-sec11: 60px 40px;
    --padding-sec12: 60px 40px;
    --padding-sec13: 60px 40px;
    --padding-sec14: 60px 40px;
    --indent-sec1:30px;
    --indent-sec2:30px;
    --indent-sec3:30px;
    --indent-sec5:30px;
    --indent-sec6:30px;
    --indent-sec9:30px;
    --indent-sec10:30px;
}
.owl-dots{
    text-align: center;
}
.owl-dots button.owl-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 6px;
    background: var(--msBgDark);
    opacity: 0.2;
}
.owl-dots button.owl-dot.active {
    opacity: 1;
}

/* end all setting */

#sec1{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester.webp');
    background-position: center center;
    background-size: cover;
    padding: var(--padding-sec1);
    min-height: var(--sec1-min-height);
}
#sec1 .col1 .content_group{
    min-height: calc(var(--sec1-min-height) / 1.5);
}
#sec1 .col1 .content_group .content{
    max-width: 991px;
}
#sec1 .col1 .content_group h1{
    margin-bottom: 60px;
}
#sec1 .col1 .content_group p.head-desc{
    text-indent: var(--indent-sec1);
}
#sec1 .col2 .img_block{
    right: -25px;
}

/* end sec1 */

#sec2{
    padding: var(--padding-sec2);
}
#sec2 .col1 .content_group{
    margin-top: -15%;
}
#sec2 .col1 .content_group .video_1{
    max-width: 1200px;
    margin-bottom: 40px;
}
#sec2 .col1 .content_group .video_1 video{
    width: 100%;
    max-width: 100%;
}
#sec2 .col1 .content_group .video_1 figure.btn-play button[name="play"] {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
#sec2 .col2 .content_group .content{
    max-width: 1200px;
}
#sec2 .col2 .content_group .content h2{
    margin-bottom: 30px;
}
#sec2 .col2 .content_group .content p{
    text-indent: var(--indent-sec2);
}

/* end sec2 */

#sec3{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester-1.webp');
    background-position: center center;
    background-size: cover;
    padding: var(--padding-sec3);
}
#sec3 .col1,
#sec3 .col2{
    min-height: var(--sec3-min-height);
}
#sec3 .col1{
    display: flex;
}
#sec3 .col1 .content_group{
    display: flex;
}
#sec3 .col1 .content_group .content{
    margin: auto;
}
#sec3 .col1::after{
    content: " ";
    position: absolute;
    right: -15px;
    top: 15%;
    width: 10px;
    height: 70%;
    background-color: var(--msBg);
}
#sec3 .col2 .content_group{
    max-width: 500px;
}
#sec3 .col2 .content_group .content p{
    text-indent: var(--indent-sec3);
}

/* end sec3 */

#sec4{
    background-image: url('/assets/images/psf-v2/desktop/background-PSF-V2-Thaipolyester-1.webp');
    background-position: center center;
    background-size: cover;
    min-height: var(--sec4-min-height);
    padding: var(--padding-sec4);
}

/* end sec4 */

#sec5{
    padding: var(--padding-sec5);
}
#sec5 .content_group .content{
    max-width: 1351px;
}
#sec5 .content_group .content h2{
    text-align: center;
    margin-bottom: 30px;
}
#sec5 .content_group .content p{
    text-indent: var(--indent-sec5);
}

/* end sec5 */

#sec6{
    padding: var(--padding-sec6);
}
#sec6 .col2 .content_group .content h2{
    margin-bottom: 40px;
}
#sec6 .col2 .content_group .content p{
    text-indent: var(--indent-sec6);
}

/* end sec6 */



/* end sec7 */

#sec8{
    padding: var(--padding-sec8);
}
#sec8 .col1 .content_group .content{
    max-width: 1351px;
}
#sec8 .col1 .content_group .content h2{
    margin-bottom: 40px;
}

/* end sec8 */

#sec9{
    padding: var(--padding-sec9);
}
#sec9 .col1 .content_group .content{
    max-width: 1351px;
}
#sec9 .col1 .content_group .content h2{
    margin-bottom: 40px;
}
#sec9 .col1 .content_group .content p{
    text-indent: var(--indent-sec9);
}

/* end sec9 */

#sec10{
    padding: var(--padding-sec10);
}
#sec10 .col1 .content_group .content{
    max-width: 1351px;
}
#sec10 .col1 .content_group .content h2{
    margin-bottom: 40px;
}
#sec10 .col1 .content_group .content p{
    text-indent: var(--indent-sec10);
}

/* end sec10 */

#sec11{
    padding: var(--padding-sec11);
}
#sec11 .col1 .content_group .content,
#sec11 .col3 .content_group .content{
    max-width: 1351px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* end sec11 */

#sec12{
    padding: var(--padding-sec12);
}
#sec12 .col1 .content_group .content,
#sec12 .col2 .content_group .content{
    max-width: 1351px;
}
#sec12 .col2 .content_group .content .col2-1,
#sec12 .col2 .content_group .content .col2-2{
    min-height: var(--sec12-min-height);
}
#sec12 .col2 .content_group .content .col2-1 .content,
#sec12 .col2 .content_group .content .col2-2 .content{
    max-width: 80%;
}
#sec12 .col2 .content_group .content .col2-1::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 10%;
    width: 1.5px;
    height: 80%;
    background-color: var(--msBgDark);
}

/* end sec12 */

#sec13{
    padding: var(--padding-sec13);
}
#sec13 .col1 h2{
    margin-bottom: 40px;
}
#sec13 .col2 table{
    width: 100%;
    table-layout: fixed;
}
#sec13 .col2 table thead th{
    background-color: var(--msBg);
    border: 2px solid var(--msBgDark);
    border-collapse: collapse;
    color: var(--msBgLight);
    word-wrap: break-word;
    text-align: center;
    height: 40px;
    padding: 5px;
}
#sec13 .col2 table tbody td{
    background-color: var(--msBgLight);
    border: 2px solid var(--msBgDark);
    border-collapse: collapse;
    color: var(--msBgDark);
    word-wrap: break-word;
    text-align: center;
    height: 30px;
    padding: 5px;
}
#sec13 .col2 table .text_focus{
    font-size: 22.6px;
    line-height: 25px;
}

/* end sec13 */

#sec14{
    /* padding: 60px 125px; */
    padding: var(--padding-sec14);
}
#sec14 .r1 .content_block .content_group{
    max-width: 768px;
    border: 3px solid var(--msBgLight);
    padding: 40px;
}
#sec14 .r1 .content_block .content_group h2{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 40px;
}
#sec14 .r1 .content_block .content_group form{
    max-width: 580px;
}
#sec14 .r1 .content_block .content_group form input,
#sec14 .r1 .content_block .content_group form textarea{
    background-color: var(--msBgDark);
    border-top: 2px solid var(--msBgDark);
    border-left: 2px solid var(--msBgDark);
    border-right: 2px solid var(--msBgDark);
    border-bottom: 2px solid var(--msBgLight);
    color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
}
#sec14 .r1 .content_block .content_group form input{
    min-height: 50px;
}
#sec14 .r1 .content_block .content_group form textarea{
    resize: vertical;
}
#sec14 .r1 .content_block .content_group form input::placeholder,
#sec14 .r1 .content_block .content_group form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--msBg);
    opacity: 1; /* Firefox */
}
#sec14 .r1 .content_block .content_group form input:-ms-input-placeholder,
#sec14 .r1 .content_block .content_group form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--msBg);
    opacity: 1;
}
#sec14 .r1 .content_block .content_group form input::-ms-input-placeholder,
#sec14 .r1 .content_block .content_group form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--msBg);
    opacity: 1;
}
#sec14 .r1 .content_block .content_group form .bt-contact{
    font-size: 25px;
    line-height: 35px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec14 .r1 .content_block .content_group form .bt-contact:hover{
    color: var(--msBgLight);
    box-shadow: 0px 0px 3px var(--msBgLight);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec14 */

@media only screen and (max-width: 991px){
    body{
        --sec1-min-height:568px;
        --sec3-min-height:0px;
        --sec4-min-height:0px;
        --sec12-min-height:0px;
    }

    /* end all setting */

    #sec1 .col1 .content_group h1{
        margin-bottom: 40px;
    }

    /* end sec1 */

    #sec2 .col1 .content_group{
        margin-top: unset;
    }

    /* end sec2 */

    #sec3 .col1::after{
        display: none;
    }
    #sec3 .col1{
        display: block;
    }
    #sec3 .col1 .content_group{
        display: block;
    }
    #sec3 .col1 .content_group .content{
        margin: auto !important;
        margin-left: 0px !important;
    }
    #sec3 .col2 .content_group{
        max-width: unset;
    }

    /* end sec3 */

    #sec5 .content_group .content h2{
        text-align: left;
    }

    /* end sec5 */

    #sec6 .col2 .content_group .content h2{
        margin-bottom: 30px;
    }

    /* end sec6 */

    #sec12 .col2 .content_group .content .col2-1 .content,
    #sec12 .col2 .content_group .content .col2-2 .content{
        max-width: unset;
    }
    #sec12 .col2 .content_group .content .col2-1::after{
        display: none;
    }

    /* end sec12 */
}
@media only screen and (max-width: 768px){

    #sec1 .col1 .content_group{
        min-height: calc(var(--sec1-min-height) / 4);
    }
    #sec1 .col1 .content_group h1{
        margin-bottom: 30px;
    }
    #sec1 p.head-desc{
        background-color: #20273129;
        padding: 15px;
        border-radius: 30px;
    }

    /* end sec1 */

    #sec14 .r1 .content_block .content_group{
        padding: 0px;
    }
    #sec14 .r1 .content_block .content_group h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec14 .r1 .content_block .content_group form input,
    #sec14 .r1 .content_block .content_group form textarea{
        font-size: 14px;
        line-height: 20px;
    }
    #sec14 .r1 .content_block .content_group form input{
        min-height: 35px;
    }
    #sec14 .r1 .content_block .content_group form .bt-contact{
        font-size: 16px;
        line-height: 35px;
        padding: 5px 15px;
    }

    /* end sec9 */
}
@media only screen and (max-width: 640px){
    body{
        --padding-sec1: 30px 20px;
        --padding-sec2: 30px 20px;
        --padding-sec3: 0px 20px;
        --padding-sec4: 30px 20px;
        --padding-sec5: 30px 20px;
        --padding-sec6: 30px 20px;
        --padding-sec7: 30px 20px;
        --padding-sec8: 30px 20px 0px;
        --padding-sec9: 15px 20px;
        --padding-sec10: 0px 20px 30px;
        --padding-sec11: 30px 20px;
        --padding-sec12: 30px 20px;
        --padding-sec13: 30px 20px;
        --padding-sec14: 30px 20px;
        --sec1-min-height:448px;
    }

    /* end all setting */

    #sec1{
        background-image: url('/assets/images/psf-v2/mobile/background-PSF-V2-Thaipolyester.webp');
    }
    #sec1 .col1 .content_group{
        min-height: 0;
    }
    #sec1 .col1 .content_group h1{
        margin-bottom: 20px;
    }
    #sec1 .col2 .img_block{
        right: -5px;
    }

    /* end sec1 */

    #sec3{
        background-image: unset;
    }

    /* end sec3 */

    #sec13 .col2 table{
        font-size: 9.6px;
        line-height: 10px;
    }
    #sec13 .col2 table .text_focus{
        font-size: 12.6px;
        line-height: 13px;
    }

    /* end sec13 */
}
@media only screen and (max-width: 420px){
    #sec1 p.head-desc{
        background-color: unset;
        padding: 0 15px;
        border-radius: unset;
    }
    #sec1 p.head-desc span{
        display: block;
    }

    /* end sec1 */
}
