body {
	--secTwoContBox:768px;
	--secThreeContBox:768px;
    --secFiveContBox:481px;
    --secSevenContBox:443px;
}
span.highlight{
	color: var(--msBg);
	font-weight: 600;
	word-wrap: break-word;
}
h2.text-green{
    color: var(--msBg);
    font-weight: normal;
}
h2.text-white{
    color: var(--msBgLight);
    font-weight: normal;
}
.bg-white{
	background-color: var(--msBgLight);
}
.bg-black{
	background-color: var(--msBgDark);
	color: #fff;
}
.bg-green{
	background-color: var(--msBg);
	color: #fff;
}
.bg-gray{
	background-color: #F2F2F2;
}
#ring {
	padding: 0px 54px;
    background-color: var(--msBg);
    font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	max-width: 1920px;
}
#ring img{
	width: 100%;
}
#ring_bg{
	background-color: var(--msBgLight);
}
#ring .p-0{
	padding: 0;
}
#ring .m-0{
	margin: 0;
}
#ring h2{
	font-size: 36px;
}
#ring h3{
	font-size: 33px;
}

	/*-------------------------------------End Setting All-------------------------------------*/

#ring .section-two{
    background-image:url('/assets/images/ring-spun/desktop/Ring-Spun-Process-Thaipolyester.webp');
    background-size:100% 100%;
    min-height: var(--secTwoContBox);
}

    /*-------------------------------------End Section Two-------------------------------------*/

#ring .section-three{
    background-image:url('/assets/images/ring-spun/desktop/Ring-Spun-Process-Thaipolyester-1.webp');
    background-size:100% 100%;
    min-height: var(--secThreeContBox);
}

    /*-------------------------------------End Section Three-------------------------------------*/

#ring .section-four .content_1{
    padding: 40px 80px;
}
#ring .section-four .content_1 > h2{
    margin-bottom: 70px;
}
#ring .section-four .content_1 > p{
    margin-bottom: 30px;
}

    /*-------------------------------------End Section Four-------------------------------------*/

#ring .section-five{
    background-image:url('/assets/images/ring-spun/desktop/Ring-Spun-Process-Thaipolyester-2.webp');
    background-size:100% 100%;
    min-height: var(--secFiveContBox);
}
#ring .section-five .r1 .col1{
    display: flex;
    position: relative;
    min-height: var(--secFiveContBox);
}
#ring .section-five .r1 .col1 .content_1{
    margin: auto;
    padding: 20px;
}
#ring .section-five .r1 .col1 .content_1 > h2{
    max-width: 1100px;
}
#ring .section-five .r1 .col1 .content_1 ul.data-lists{
    font-size: 16px;
    width: fit-content;
    margin: auto;
}
#ring .section-five .r1 .col1 .content_1 ul.data-lists > li{
    display: inline-block;
    padding: 0 10px;
}

    /*-------------------------------------End Section Five-------------------------------------*/

#ring .section-six .content_1{
    padding: 40px 80px;
}

    /*-------------------------------------End Section Six-------------------------------------*/

#ring .section-seven {
    background-image:url('/assets/images/ring-spun/desktop/Ring-Spun-Process-Thaipolyester-3-1.webp');
    background-size:100% 100%;
    min-height: var(--secSevenContBox);
}
#ring .section-seven .r1 .col1 .content_1{
    max-width: 33.33333333%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    min-height: var(--secSevenContBox);
    margin-right: 50px;
    display: flex;
    position: relative;
}
#ring .section-seven .r1 .col1 .content_1 p.p1{
    margin: auto;
}

    /*-------------------------------------End Section Seven-------------------------------------*/

#ring .section-eight .r1 .col1{
    display: flex;
    position: relative;
    padding: 20px;
}
#ring .section-eight .r1 .col1 ul.image-lists{
    margin: auto;
}
#ring .section-eight .r1 .col1 ul.image-lists > li img{
    display: inline-block;
    max-height: 238px;
    min-height: 238px;
}

/*-------------------------------------End Section Eight-------------------------------------*/

@media only screen and (max-width: 991px){
    #ring {
		padding: 0;
	}

    /*-------------------------------------End Setting All-------------------------------------*/

    #ring .section-seven .r1 .col1 .content_1{
        max-width: unset;
        background-color: unset;
        margin-right: unset;
    }
    #ring .section-seven .r1 .col1 .content_1 p.p1{
        margin-bottom: 0px;
    }

    /*-------------------------------------End Section Seven-------------------------------------*/

    #ring .section-eight .r1 .col1 ul.image-lists > li img{
        display: inline-block;
        max-height: 105px;
        min-height: 105px;
    }

    /*-------------------------------------End Section Eight-------------------------------------*/
}

@media only screen and (max-width: 768px){
    body {
        --secSevenContBox:607px;
    }

    /*-------------------------------------End Setting All-------------------------------------*/

    #ring .section-two{
        background-image:url('/assets/images/ring-spun/mobile/Ring-Spun-Process-Thaipolyester.webp');
    }

    /*-------------------------------------End Section Two-------------------------------------*/

    #ring .section-three{
        background-image:url('/assets/images/ring-spun/mobile/Ring-Spun-Process-Thaipolyester-1.webp');
    }

    /*-------------------------------------End Section Three-------------------------------------*/

    #ring .section-four .content_1{
        padding: 20px;
    }
    #ring .section-four .content_1 > h2{
        margin-bottom: 35px;
    }

    /*-------------------------------------End Section Four-------------------------------------*/

    #ring .section-five .r1 .col1 .content_1 ul.data-lists{
        margin: unset;
        padding-left: 40px;
    }
    #ring .section-five .r1 .col1 .content_1 ul.data-lists > li{
        display: block;
        padding: unset;
    }
    #ring .section-five .r1 .col1 .content_1 > h2{
        margin: 0;
        margin-bottom: 60px;
    }

    /*-------------------------------------End Section Five-------------------------------------*/

    #ring .section-six .content_1{
        padding: 20px;
    }

    /*-------------------------------------End Section Six-------------------------------------*/

    #ring .section-seven {
        background-image:url('/assets/images/ring-spun/mobile/Ring-Spun-Process-Thaipolyester-3.webp');
    }

    /*-------------------------------------End Section Seven-------------------------------------*/
}
@media only screen and (max-width: 400px){
    #ring .section-five{
        background-image:url('/assets/images/ring-spun/mobile/Ring-Spun-Process-Thaipolyester-2.webp');
    }
}
