.wins{
    --wins-background:#ffffff;
    --wins-border-width: 1px;
    --wins-border-top:transparent;
    --wins-border-right:transparent;
    --wins-border-left:transparent;
    --wins-border-bottom:transparent;
    --wins-time:0.2s;
    --wins-delay:0.8s;
    --wins-header-font-size: 17px;
    --wins-content-font-size: 17px;
}
.wins{
    position: relative;
    overflow: hidden;
}
.wins > .wins_block{
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 99;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--wins-background);
    border-top: var(--wins-border-width) solid var(--wins-border-top);
    border-right: var(--wins-border-width) solid var(--wins-border-top);
    border-left: var(--wins-border-width) solid var(--wins-border-top);
    border-bottom: var(--wins-border-width) solid var(--wins-border-top);
    -webkit-transition: left var(--wins-time);
    -moz-transition: left var(--wins-time);
    -o-transition: left var(--wins-time);
    transition: left var(--wins-time);
}
.wins:hover > .wins_block{
    left: 0;
    -webkit-transition: left var(--wins-time);
    -moz-transition: left var(--wins-time);
    -o-transition: left var(--wins-time);
    transition: left var(--wins-time);
    -webkit-transition-delay: var(--wins-delay);
    -moz-transition-delay: var(--wins-delay);
    -o-transition-delay: var(--wins-delay);
    transition-delay: var(--wins-delay);
}
.wins > .wins_block > .wins_header{
    font-size: var(--wins-header-font-size);
    padding: 10px 7.5px;
    border-bottom: var(--wins-border-width) solid #000000;
}
.wins > .wins_block > .wins_content{
    font-size: var(--wins-content-font-size);
    padding: 7.5px;
}
@media only screen and (max-width: 991px){
    .wins > .wins_block > .wins_header{
        padding: 5px 7.5px;
    }
}
