body{
    --sec3-padding:20px 0;
    --sec4-padding:20px 0 0;
    --sec5-padding:20px 0 60px;
}

/* end all setting */

#sec1 .head-title{
    background-color: #ffffff;
    padding: 5px;
}

/* end sec1 */

#sec2 .col1 .content_group{
    width: calc(88% - 30px);
}

/* end sec2 */

#sec3{
    padding: var(--sec3-padding);
}
#sec3 .col1 .content{
    min-height: 150px;
}

/* end sec3 */

#sec4{
    padding: var(--sec4-padding);
}
#sec4 .r1 .col1::before{
    content: " ";
    position: absolute;
    right: 0;
    top: -20px;
    height: 110%;
    width: 50%;
    background-color: var(--msBg);
    z-index: 2;
}
#sec4 .r1 .col1::after{
    content: " ";
    position: absolute;
    right: -45px;
    top: -20px;
    height: 110%;
    width: 45px;
    background-color: var(--msBg);
    z-index: 2;
}
#sec4 .r1 .col2{
    padding-left: 60px;
}
#sec4 .r1 .col2 .content .content_group{
    max-width: calc(85% - 15px);
}
#sec4 .r2 .col1 .content .content_group{
    margin-top: 60px !important;
}

/* end sec4 */

#sec5{
    padding: var(--sec5-padding);
    position: relative;
}
#sec5::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--msBgLight);
}
#sec5 .col1::before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--msBg);
}
#sec5 .col2 .content_group{
    width: calc(95% - 30px);
}

/* end sec5 */

@media only screen and (max-width: 991px){
    .container{
        width: 100%;
    }

    /* end all setting */

    #sec4 .r1 .col1::after{
        display: none;
    }
    #sec4 .r1 .col2{
        padding-left: 15px;
    }
    #sec4 .r1 .col2 .content .content_group{
        max-width: 100%;
    }
    #sec4 .r2 .col1 .content .content_group{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #sec4 .r1 .col2 .content .content_group{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    /* end sec4 */
}
@media only screen and (max-width: 768px){
    #sec2 .col1 .content_group{
        width: calc(100% - 30px);
        margin-bottom: 20px !important;
    }

    /* end sec2 */

    #sec4 .container{
        padding: 0;
    }
    #sec4 .container .r2 .col2{
        padding: 0;
    }

    /* end sec4 */

    #sec5 .col1,
    #sec5 .col2{
        padding: 0;
    }
    #sec5 .col2 .content_group{
        width: 100%;
        margin-top: 20px !important;
    }

    /* end sec5 */
}
