body{
    --sec2-padding:0 0 30px;
}
ul.path > li > a {
    color: var(--msBgDark);
    transition: all 0.2s;
}
ul.path > li,
ul.path > li > a{
    font-size: 14px;
    line-height: 14px;
}
ul.path > li > a:not(.active):hover {
    color: var(--msBg);
    transition: all 0.2s;
}
ul.path > li.active{
    color: var(--msBg);
}
ul.path > li:not(:last-child)::after {
    content: ">";
    margin: 0 2px 0 6px;
}
.container{
    max-width: 100%;
}

/* end all setting */

#sec1 .owl-nav > .owl-next {
    display: flex;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1%;
    font-size: 2em;
    color: var(--msBgLight);
    transform: scale(0.9900);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec1 .owl-nav > .owl-prev {
    display: flex;
    position: absolute;
    top: calc(50% - 0.5em);
    left: 1%;
    font-size: 2em;
    color: var(--msBgLight);
    transform: scale(0.9900);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec1 .owl-nav > .owl-prev:hover,
#sec1 .owl-nav > .owl-next:hover {
    color: var(--msBgDark);
    transform: scale(1.1100);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
}
#sec2 .col1 ul.path {
    padding: 0px;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sec2 .col1{
    margin-top: -120px;
    padding: 25px 30px 20px!important;
    z-index: 1;
}
#sec2 .col1 .title-block{
    margin-bottom: 20px;
}
#sec2 .col1 .title-block > *:first-child{
    margin-bottom: 30px;
}
#sec2 .col1 .title-block > *:not(:first-child){
    margin-bottom: 20px;
}
#sec2 .col1 .title-block .start-date{
    font-size: 14px;
    line-height: 14px;
}
#sec2 .col2{
    margin-top: -120px;
    z-index: 1;
}
#sec2 .col2 .sidebar{
    margin: auto;
    margin-right: 0;
    width: 100%;
    max-width: 95%;
    background-color: var(--msBgLight);
    color: var(--msBgDark);
    padding: 15px;
}
#sec2 .col2 .sidebar .sidebar-title,
#sec2 .col2 .sidebar .sidebar-body{
    position: relative;
}
#sec2 .col2 .sidebar .sidebar-title::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% + 10px);
    width: 3px;
    background-color: var(--msBgDarkOpacity);
}
#sec2 .col2 .sidebar .sidebar-title::after{
    content: " ";
    position: absolute;
    bottom: -10px;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: var(--msBgDarkOpacity);
}
#sec2 .col2 .sidebar-body a{
    color: var(--msBgDark);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#sec2 .col2 .sidebar-body a:hover{
    color: var(--msBg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#sec2 .col2 .sidebar-body figure{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
#sec2 .col2 .sidebar-body figure:not(:last-child){
    border-bottom: 1px solid #ccc;
}

/* end sec2 */

@media (min-width: 1900px){
    .container {
        width: calc(1920px - 150px) !important;
    }
}
@media (min-width: 1800px){
    .container {
        width: calc(1770px - 150px) !important;
    }
}
@media only screen and (min-width: 1600px){
    #sec1 .owl-nav > .owl-next,
    #sec1 .owl-nav > .owl-prev{
        font-size: 4em;
    }

    /* end sec1 */
}
@media only screen and (max-width: 991px){
    #sec2 .col1{
        margin-top: unset;
    }
    #sec2 .col2{
        margin-top: 15px;
    }
    #sec2 .col2 .sidebar{
        margin-right: unset;
        max-width: 100%;
    }

    /* end sec2 */
}
@media only screen and (max-width: 640px){
    .container{
        padding: 0;
    }

    /* end all setting */
}
@media only screen and (max-width: 440px){
    h1.default{
        font-size: 26px;
        line-height: 28px;
    }

    /* end all setting */

    #sec2 .col1{
        padding: 12.5px 15px 10px!important;
    }

    /* end sec2 */
}
@media only screen and (max-width: 300px){
    h1.default{
        font-size: 24px;
        line-height: 26px;
    }

    /* end all setting */
}
