body{
    --sec2-padding:20px 0;
    --sec3-min-height:0;
    --sec4-padding:60px 0;
    --sec5-padding:20px 0;
    --sec6-padding:60px 0;
}
#tpc .bg-universe{
    background-color: #080c1d;
    color: var(--msBgLight);
}

/* end all setting */

#sec1 .head-title{
    padding: 60px;
}
#sec1 .head-title .title{
    right: 5%;
    bottom: 8%;
}
#sec1 .head-title .title p.p1{
    text-indent: 100px
}
#sec1 .head-title .title p.p2{
    text-indent: 60px
}
#sec1 .head-title .title p.p3{
    text-indent: 20px
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
}
#sec2 .col1 .content{
    min-height: 150px;
}

/* end sec2 */

#sec3{
    min-height: var(--sec3-min-height);
}
#sec3 p{
    padding-top: 15px;
    text-indent: 30px;
}

/* end sec3 */

#sec4{
    padding: var(--sec4-padding);
    overflow: hidden;
}
#sec4::before{
    content: " ";
    position: absolute;
    top: -400px;
    left: -400px;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(180deg, rgba(32,39,49,1) 0%, rgba(61,176,114,1) 50%, rgba(32,39,49,1) 100%);
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    z-index: 1;
}
#sec4::after{
    content: " ";
    position: absolute;
    bottom: -400px;
    right: -400px;
    width: 800px;
    height: 800px;
    background-image: linear-gradient(180deg, rgba(32,39,49,1) 0%, rgba(61,176,114,1) 50%, rgba(32,39,49,1) 100%);
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    z-index: 1;
}
#sec4 .content .content_group{
    padding: 15px 0;
}
#sec4 .content .content_group p{
    text-indent: 30px;
}

/* end sec4 */

#sec5{
    padding: var(--sec5-padding);
}
#sec5 .col1 .content{
    min-height: 150px;
}

/* end sec5 */

#sec6{
    padding: var(--sec6-padding);
    overflow: hidden;
}
#sec6 .btn_block a{
    background-color: var(--msBg);
    color: var(--msBgDark);
    font-size: 24px;
    padding: 15px 20%;
    border-radius: 30px;
    transition: all 0.2s;
}
#sec6 .btn_block a:hover{
    background-color: var(--msBgDark);
    color: var(--msBgLight);
    transition: all 0.2s;
}
#sec6 .green_prod{
    left: 2.5%;
    z-index: 2;
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
}
#sec6 .rec_icon{
    z-index: 2;
    margin-top: -30px;
    margin-left: 0;
    max-width: 350px;
}

/* end sec6 */

@media only screen and (min-width: 1900px){
    #tpc .container{
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}
@media only screen and (min-width: 1600px){
    #sec1 .head-title .title{
        right: 8%;
        bottom: 16%;
    }

    /* end sec1 */

}
@media only screen and (max-width: 991px){
    body{
        --sec6-padding:20px 0 60px;
    }

    /* end all setting */

    #sec1 .head-title .title{
        font-size: 32px;
        line-height: 32px;
        right: 5%;
        bottom: 15%;
    }
    #sec1 .head-title .title p.p1{
        text-indent: 90px
    }
    #sec1 .head-title .title p.p2{
        text-indent: 70px
    }
    #sec1 .head-title .title p.p3{
        text-indent: 50px
    }

    /* end sec1 */

    #sec4::before{
        top: -550px;
        left: -400px;
        width: 800px;
        height: 800px;
        transform:rotate(-30deg);
        -webkit-transform:rotate(-30deg);
    }
    #sec4::after{
        display: none;
    }

    /* end sec4 */

    #sec6 .rec_icon {
        margin-top: 0px;
        max-width: 250px;
    }

    /* end sec6 */
}
@media only screen and (max-width: 768px){
    #sec1 .head-title .title{
        font-size: 24px;
        line-height: 20px;
    }
    #sec1 .head-title .title p.p1{
        text-indent: 90px
    }
    #sec1 .head-title .title p.p2{
        text-indent: 80px
    }
    #sec1 .head-title .title p.p3{
        text-indent: 65px
    }

    /* end sec1 */

    #sec6 .rec_icon{
        margin-top: 30px;
        margin-right: 0;
        margin-left: inherit;
        margin-bottom: 0;
    }
    #sec6 .green_prod{
        padding: 5px;
        font-size: 12px;
    }
    #sec6 .btn_block a{
        font-size: 16px;
        padding: 10px 20%;
        border-radius: 30px;
    }

    /* end sec6 */
}
@media only screen and (max-width: 540px){

    #sec4::before {
        top: -375px;
        left: -270px;
        width: 540px;
        height: 540px;
    }

    /* end sec4 */

    #sec6 .btn_block a{
        width: 100%;
    }
    #sec6 .rec_icon {
        max-width: 150px;
    }

    /* end sec6 */
}
@media only screen and (max-width: 300px){
    body{
        --sec3-min-height:900px;
    }

    /* end all setting */

    #sec1 .head-title .title{
        font-size: 20px;
        line-height: 15px;
        right: 3.5%;
    }
    #sec1 .head-title .title p.p1{
        text-indent: 90px
    }
    #sec1 .head-title .title p.p2{
        text-indent: 80px
    }
    #sec1 .head-title .title p.p3{
        text-indent: 70px
    }

    /* end sec1 */

    #sec4::before {
        top: -420px;
        left: -270px;
    }

    /* end sec4 */
}
