#tpc{
    padding: 0px 54px;
}
#tpc #tpc_bg{
    background-color: var(--msBgLight);
}
/*-------------------------------------End Setting All-------------------------------------*/

#sec1 .h-title{
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 20px;
}
/*-------------------------------------End Sec1-------------------------------------*/

#sec2 .content_group{
    padding: 30px 40px 0;
}
/*-------------------------------------End Sec2-------------------------------------*/

#sec3 .content_group{
    padding:  0 40px 30px;
}
/*-------------------------------------End Sec3-------------------------------------*/

#sec5 .content_group{
    padding:  30px 40px 10px;
}
/*-------------------------------------End Sec5-------------------------------------*/

#sec6 .content_group{
    margin-left: 0;
    padding:  0 20px 30px 70px;
}
/*-------------------------------------End Sec6-------------------------------------*/

@media only screen and (max-width: 768px){
    #tpc{
        padding: 0;
    }


    #sec2 .content_group{
        padding: 30px 20px 0;
    }
    /*-------------------------------------End Sec2-------------------------------------*/

    #sec3 .content_group{
        padding:  0 20px 30px;
    }
    /*-------------------------------------End Sec3-------------------------------------*/

    #sec5 .content_group{
        padding:  30px 20px 10px;
    }
    /*-------------------------------------End Sec5-------------------------------------*/

    #sec6 .content_group{
        padding:  0 20px 30px 40px;
    }
    /*-------------------------------------End Sec6-------------------------------------*/

}
