#tpc{
    padding: 0px 54px;
}
#tpc #tpc_bg{
    background-color: var(--msBgLight);
}
/*-------------------------------------End Setting All-------------------------------------*/

#sec1 .h-title{
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 20px;
}
/*-------------------------------------End Sec1-------------------------------------*/

#sec2 .content_group{
    padding: 30px 40px 0;
}
/*-------------------------------------End Sec2-------------------------------------*/

#sec3 .content_group{
    padding:  0 40px 30px;
}
/*-------------------------------------End Sec3-------------------------------------*/

#sec5 .content_group{
    padding:  30px 40px 10px;
}
/*-------------------------------------End Sec5-------------------------------------*/

#sec6 .content_group{
    margin-left: 0;
    padding:  0 20px 30px 70px;
}
/*-------------------------------------End Sec6-------------------------------------*/

#sec7{
    padding:  0 40px;
}
#sec7 .prod_name{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    color: var(--msBgDark);
}
#sec7 .prod_name label{
    font-size: 25px;
    margin-bottom: 5px;
}
/*-------------------------------------End Sec7-------------------------------------*/

#sec8 .content_group{
    padding:  30px 40px 15px;
}
/*-------------------------------------End Sec8-------------------------------------*/

#sec9 .content_group{
    padding:  15px 0 15px;
}
#sec9 .content_group .img_block{
    padding: 2.5px;
}
/*-------------------------------------End Sec9-------------------------------------*/

#sec10 .content_group{
    padding:  30px 40px 15px;
}
/*-------------------------------------End Sec10-------------------------------------*/

#sec11 .content_block{
    padding:  15px 0 15px;
    max-width: 65%;
}
/*-------------------------------------End Sec10-------------------------------------*/

@media only screen and (max-width: 768px){
    #tpc{
        padding: 0;
    }


    #sec2 .content_group{
        padding: 30px 20px 0;
    }
    /*-------------------------------------End Sec2-------------------------------------*/

    #sec3 .content_group{
        padding:  0 20px 30px;
    }
    /*-------------------------------------End Sec3-------------------------------------*/

    #sec5 .content_group{
        padding:  30px 20px 10px;
    }
    /*-------------------------------------End Sec5-------------------------------------*/

    #sec6 .content_group{
        padding:  0 20px 30px 40px;
    }
    /*-------------------------------------End Sec6-------------------------------------*/

    #sec7{
        padding:  0;
    }
    #sec7 .prod_name label{
        font-size: 12.5px;
        margin-bottom: 2.5px;
    }
    #sec7 .prod_name small{
        font-size: 50%;
        line-height: 130%;
    }
    /*-------------------------------------End Sec7-------------------------------------*/

    #sec8 .content_group{
        padding:  30px 20px;
    }
    /*-------------------------------------End Sec8-------------------------------------*/

    #sec9 .content_group .img_block{
        max-width: 50%;
        padding: 2.5px;
    }
    /*-------------------------------------End Sec9-------------------------------------*/

    #sec10 .content_group{
        padding:  30px 20px 0;
    }
    /*-------------------------------------End Sec8-------------------------------------*/

    #sec11 .content_block{
        padding:  15px 0 15px;
        max-width: 100%;
    }
    #sec11 .content_block .img_block picture{
        width: 100% !important;
    }
    /*-------------------------------------End Sec10-------------------------------------*/
}

@media only screen and (min-width: 992px){
    .row .col-md-1-5 {
        width: 12.5% !important;
    }
}
