body > .scrollup.right.active {
    right: 15px;
}
body > .scrollup.right {
    right: -50px;
}
body > .scrollup {
    position: fixed;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    background-color: var(--msBg);
}
body > .scrollup:hover {
    background-color: rgba(37,37,37,.7);
}
body > .scrollup i {
    font-size: 40px;
    color: #fff;
    line-height: 45px;
}
