:root{
  /* --msBg:hsl(149deg 46% 46%);
  --msBgDark:hsl(220deg 22% 16%);
  --msBgDarkOpacity:#202731ed;
  --msBgLight:#fff; */
  --msBg: #3db072;
  --msBgGreen:#00ff2a;
  --msBgRed:#bc1e2d;
  --msBgDark:#202731;
  --msBgDarkOpacity:#202731ed;
  --msBgLight:#fff;
}
* {
    margin: 0 auto;
    text-decoration: none!important;
    outline: 0!important;
}
img {
    /* width: auto; */
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1bb086;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f8261;
}
body {
  font-family: 'Sen',sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  color: #171616;
  font-size: 18px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .24s ease-in-out;
  -moz-transition: opacity .24s ease-in-out;
  transition: opacity .24s ease-in-out;
  overflow-x:hidden;
  position: relative;
}
.theme-hl{
    color: var(--msBg);
	word-wrap: break-word;
}
.green-hl{
    color: var(--msBgGreen);
	word-wrap: break-word;
}
.red-hl{
    color: var(--msBgRed);
    word-wrap: break-word;
}
.yellow-hl{
    color: hsl(56deg 91% 65%);
    word-wrap: break-word;
}
.bg-white{
	background-color: var(--msBgLight);
    color: var(--msBgDark);
}
.bg-black{
	background-color: var(--msBgDark);
	color: var(--msBgLight);
}
.bg-green{
	background-color: var(--msBg);
	color: var(--msBgLight);
}
.bg-gray{
    background-color: hsl(240deg 7% 94%);
    color: var(--msBgDark);
}
#landing{
    font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	max-width: 1920px;
}
#landing h1{
	font-size: 60px;
    font-weight: normal;
    line-height: 70px;
}
#landing h2{
	font-size: 50px;
    font-weight: normal;
    line-height: 60px;
}
#landing .d-flex{
    display: flex !important;
}
#landing .d-inline{
    display: inline !important;
}
#landing .d-inline-b{
    display: inline-block !important;
}
#landing .pos-r{
    position: relative !important;
}
#landing .pos-ab{
    position: absolute !important;
}
#landing .m-auto{
    margin: auto !important;
}
#landing .m-0{
    margin: auto;
    margin: 0 !important;
}
#landing .ml-0{
    margin: auto;
    margin-left: 0 !important;
}
#landing .mr-0{
    margin: auto;
    margin-right: 0 !important;
}
#landing .mt-0{
    margin: auto;
    margin-top: 0 !important;
}
#landing .mb-0{
    margin: auto;
    margin-bottom: 0 !important;
}
#landing .p-0{
    padding: 0 !important;
}
#landing .p-0{
    padding: 0 !important;
}
#landing .pl-0{
    padding-left: 0 !important;
}
#landing .pr-0{
    padding-right: 0 !important;
}
#landing .pt-0{
    padding-top: 0 !important;
}
#landing .pb-0{
    padding-bottom: 0 !important;
}
#landing .fw-600{
    font-weight: 600;
}
#landing .fw-500{
    font-weight: 500;
}
#landing .fw-n{
    font-weight: normal;
}
@media (min-width: 1400px){
	.container{
		width: calc(1370px - 100px) !important;
	}
}
@media (min-width: 1600px){
	.container{
		width: calc(1570px - 100px) !important;
	}
}
@media (min-width: 1800px){
	.container{
		width: calc(1770px - 100px) !important;
	}
}
@media (min-width: 1900px){
	.container{
		width: calc(1920px - 100px) !important;
	}
}
@media only screen and (max-width: 768px){
    #landing h1{
        font-size: 40px;
        font-weight: normal;
        line-height: 46px;
    }
    #landing h2{
        font-size: 30px;
        line-height: 36px;
    }
}
