body{
    --sec2-padding:40px 0;
    --sec3-padding:20px 0;
    --sec4-padding:20px 0 40px;
    --sec4-min-height:350px;
    --sec6-padding:20px 0;
    --sec7-padding:20px 0 40px;
    --sec10-padding:0px 0 20px;
}
.wins{
    --wins-background:#ffffffc8 !important;
}

/* end all setting */

#sec1 .wrapper{
    overflow: hidden;
}
#sec1 .col-h1{
    background-color: #00000045;
    height: calc(100% - 0.6%) !important;
}
#sec1 .head-btn{
    margin-top: 30px;
}
#sec1 .head-btn > a{
    font-size: 20px;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: #fff;
    padding: 15px 15px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec1 .head-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}
#sec1 .head-content .content{
    max-width: 80%;
}
#sec1 .head-content .content > *{
    color: #fff;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
}
#sec2 .sec2-title{
    margin-bottom: 40px;
}

/* end sec2 */

#sec3{
    padding: var(--sec3-padding);
}
#sec3 .sec3-title{
    font-size: 100px !important;
    line-height: 100% !important;
    font-weight: 600 !important;
    width: fit-content;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#sec3 .owl-nav > .owl-prev {
    display: flex;
    position: absolute;
    top: calc(50% - 0.5em);
    left: 50px;
    color: var(--msBg);
    font-weight: 600;
    font-size: 50px;
    transform: scale(0.9900);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec3 .owl-nav > .owl-prev:hover{
    transform: scale(1.1100);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec3 */

#sec4{
    padding: var(--sec4-padding);
}
#sec4 .sec4-desc{
    font-size: 43px !important;
    line-height: 64px !important;
    margin-bottom: 30px;
}
#sec4 .sec4-title{
    font-size: 64px !important;
    line-height: 77px !important;
}
#sec4 .btn {
    margin-top: 60px;
}
#sec4 .btn > a {
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 1.8em;
    text-decoration: none;
    color: var(--msBgLight);
    background-color: var(--msBgDark);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec4 .btn > a:hover {
    color: var(--msBgLight);
    background-color: var(--msBg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec4 .r1 > div[class^="col-"]{
    min-height: var(--sec4-min-height);
    border: 1px solid var(--msBgDark);
}
#sec4 .r1 > div[class^="col-"]:nth-child(1),
#sec4 .r1 > div[class^="col-"]:nth-child(2),
#sec4 .r1 > div[class^="col-"]:nth-child(3),
#sec4 .r1 > div[class^="col-"]:nth-child(4) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}
#sec4 .r1 > div[class^="col-"]:nth-child(5),
#sec4 .r1 > div[class^="col-"]:nth-child(6),
#sec4 .r1 > div[class^="col-"]:nth-child(7),
#sec4 .r1 > div[class^="col-"]:nth-child(8) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
}
#sec4 .poy .wins{
    --wins-header-border-bottom:3px solid var(--msBg);
}
#sec4 .fdy .wins{
    --wins-header-border-bottom:3px solid var(--msBgRed);
}
#sec4 .dty .wins{
    --wins-header-border-bottom:3px solid var(--msBgNavy);
}
#sec4 .ty .wins{
    --wins-header-border-bottom:3px solid var(--msBgGreen2);
}
#sec4 .ddb .wins{
    --wins-header-border-bottom:3px solid var(--msBgOrange);
}
#sec4 .psf .wins{
    --wins-header-border-bottom:3px solid var(--msBgDark);
}
#sec4 .ring .wins{
    --wins-header-border-bottom:3px solid var(--msBgPurple);
}
#sec4 .oe .wins{
    --wins-header-border-bottom:3px solid var(--msBgSeaGreen);
}
#sec4 .border_animation.poy{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBg);
    --border-color-bottom: var(--msBg);
    --border-color-left: var(--msBg);
    --border-color-right: var(--msBg);
}
#sec4 .border_animation.fdy{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgRed);
    --border-color-bottom: var(--msBgRed);
    --border-color-left: var(--msBgRed);
    --border-color-right: var(--msBgRed);
}
#sec4 .border_animation.dty{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgNavy);
    --border-color-bottom: var(--msBgNavy);
    --border-color-left: var(--msBgNavy);
    --border-color-right: var(--msBgNavy);
}
#sec4 .border_animation.ty{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgGreen2);
    --border-color-bottom: var(--msBgGreen2);
    --border-color-left: var(--msBgGreen2);
    --border-color-right: var(--msBgGreen2);
}
#sec4 .border_animation.ddb{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgOrange);
    --border-color-bottom: var(--msBgOrange);
    --border-color-left: var(--msBgOrange);
    --border-color-right: var(--msBgOrange);
}
#sec4 .border_animation.psf{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgDark);
    --border-color-bottom: var(--msBgDark);
    --border-color-left: var(--msBgDark);
    --border-color-right: var(--msBgDark);
}
#sec4 .border_animation.ring{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgPurple);
    --border-color-bottom: var(--msBgPurple);
    --border-color-left: var(--msBgPurple);
    --border-color-right: var(--msBgPurple);
}
#sec4 .border_animation.oe{
    --border-width-left: 3px;
    --border-width-top: 3px;
    --border-width-right: 3px;
    --border-width-bottom: 3px;
    --border-color-top: var(--msBgSeaGreen);
    --border-color-bottom: var(--msBgSeaGreen);
    --border-color-left: var(--msBgSeaGreen);
    --border-color-right: var(--msBgSeaGreen);
}

/* end sec4 */

#sec5 .owl-stage{
    display: flex;
}
#sec5 .owl-item{
    margin: auto !important;
}
#sec5 .owl-nav > .owl-next {
    display: flex;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: scale(0.9900);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec5 .owl-nav > .owl-next:hover {
    transform: scale(1.1100);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec5 */

#sec6{
    padding: var(--sec6-padding);
}
#sec6 .sec6-title{
    margin-bottom: 40px;
}
#sec6 .slide .owl-carousel .item-title{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
#sec6 .slide .owl-carousel .item-desc{
    font-size: 14px;
    line-height: 14px;
}

/* end sec6 */

#sec7{
    padding: var(--sec7-padding);
}
#sec7 .r2{
    margin-top: 30px !important;
}

/* end sec7 */

#sec8{
    padding: 60px 125px;
}
#sec8 .r1 .content_block .content_group{
    max-width: 768px;
    border: 3px solid var(--msBgLight);
    padding: 40px;
}
#sec8 .r1 .content_block .content_group h2{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 40px;
}
#sec8 .r1 .content_block .content_group form{
    max-width: 580px;
}
#sec8 .r1 .content_block .content_group form input,
#sec8 .r1 .content_block .content_group form textarea{
    background-color: var(--msBgDark);
    border-top: 2px solid var(--msBgDark);
    border-left: 2px solid var(--msBgDark);
    border-right: 2px solid var(--msBgDark);
    border-bottom: 2px solid var(--msBgLight);
    color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
}
#sec8 .r1 .content_block .content_group form input{
    min-height: 50px;
}
#sec8 .r1 .content_block .content_group form textarea{
    resize: vertical;
}
#sec8 .r1 .content_block .content_group form input::placeholder,
#sec8 .r1 .content_block .content_group form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--msBg);
    opacity: 1; /* Firefox */
}
#sec8 .r1 .content_block .content_group form input:-ms-input-placeholder,
#sec8 .r1 .content_block .content_group form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--msBg);
    opacity: 1;
}
#sec8 .r1 .content_block .content_group form input::-ms-input-placeholder,
#sec8 .r1 .content_block .content_group form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--msBg);
    opacity: 1;
}
#sec8 .r1 .content_block .content_group form .bt-contact{
    font-size: 25px;
    line-height: 35px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    border: none;
    margin-top: 20px;
    padding: 10px 25%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec8 .r1 .content_block .content_group form .bt-contact:hover{
    color: var(--msBgLight);
    box-shadow: 0px 0px 3px var(--msBgLight);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec8 */

#sec9 .r1 .col1 .content_block{
    padding: 60px 125px;
}
#sec9 .r2 .content_block,
#sec9 .r3 .content_block{
    padding: 20px;
}
#sec9 .r4 .col1 .content_block{
    padding: 20px 125px 10px;
}
#sec9 .r1 .col1 .content_block h2{
    font-size: 40px;
    line-height: 35px;
}
#sec9 .r2 .content_block .img_block,
#sec9 .r3 .content_block .img_block{
    width: 100%;
    max-width: 100px;
}
#sec9 .r2 .content_block h3,
#sec9 .r3 .content_block h3{
    font-size: 25px;
    font-weight: 600;
}
#sec9 .r2 .content_block a{
    font-size: 16px;
    color: var(--msBgDark);
    font-weight: 600;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec9 .r2 .content_block a:hover{
    color: var(--msBg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec9 .r2 .content_block p,
#sec9 .r3 .content_block p{
    font-size: 16px;
}
#sec9 .r3 .content_block p{
    margin-bottom: 20px;
}
#sec9 .r4 .col1 .content_block p.p1{
    font-size: 20px;
}
#sec9 .r3 div[class^="col-"]:not(:last-child){
    border-right: 2px solid var(--msBgDark);
}
#sec9 .r3 .content_block a.a-map{
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}

/* end sec9 */

#sec10 {
    padding: var(--sec10-padding);
}

/* end sec10 */

@media only screen and (min-width: 1024px){

    #sec3 .slide .slide-title{
        font-size: 30px;
        line-height: 30px;
    }

    /* end sec3 */

    #sec5 .sec5-title{
        font-size: 100px !important;
        line-height: 100px !important;
    }
    #sec5 .sec5-sub-title{
        font-size: 40px !important;
        line-height: 40px !important;
    }
}
@media only screen and (min-width: 1400px){
    body{
        --sec4-min-height:400px;
    }

    /* end all setting */

    #sec3 .sec3-title{
        font-size: 190px !important;
        line-height: 100% !important;
        width: fit-content;
    }

    /* end sec3 */

    #sec5 .sec5-title{
        font-size: 120px !important;
        line-height: 120px !important;
    }
    #sec5 .sec5-sub-title{
        font-size: 60px !important;
        line-height: 60px !important;
    }
}
@media only screen and (min-width: 1600px){
    #sec5 .sec5-title{
        font-size: 140px !important;
        line-height: 140px !important;
    }
    #sec5 .sec5-sub-title{
        font-size: 80px !important;
        line-height: 80px !important;
    }
}
@media only screen and (max-width: 991px){
    body{
        --sec4-min-height:225px;
    }

    /* end all setting */

    #sec1 .col-h1{
        height: 100% !important;
    }

    /* end sec1 */

    #sec3 .sec3-title {
        width: 100%;
        text-align: center;
    }

    /* end sec3 */

    #sec4 .r1 > div[class^="col-"]:nth-child(5),
    #sec4 .r1 > div[class^="col-"]:nth-child(6) {
        border-bottom-color: var(--msBgDark);
    }
    #sec4 .r1 > div[class^="col-"]:nth-child(7),
    #sec4 .r1 > div[class^="col-"]:nth-child(8){
        border-bottom-color: transparent;
    }
    #sec4 .poy .wins{
        --wins-header-border-bottom:2px solid var(--msBg);
    }
    #sec4 .fdy .wins{
        --wins-header-border-bottom:2px solid var(--msBgRed);
    }
    #sec4 .dty .wins{
        --wins-header-border-bottom:2px solid var(--msBgNavy);
    }
    #sec4 .ty .wins{
        --wins-header-border-bottom:2px solid var(--msBgGreen2);
    }
    #sec4 .ddb .wins{
        --wins-header-border-bottom:2px solid var(--msBgOrange);
    }
    #sec4 .psf .wins{
        --wins-header-border-bottom:2px solid var(--msBgDark);
    }
    #sec4 .ring .wins{
        --wins-header-border-bottom:2px solid var(--msBgPurple);
    }
    #sec4 .oe .wins{
        --wins-header-border-bottom:2px solid var(--msBgSeaGreen);
    }
    #sec4 .border_animation.poy{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.fdy{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.dty{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.ty{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.ddb{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.psf{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.ring{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }
    #sec4 .border_animation.oe{
        --border-width-left: 2px;
        --border-width-top: 2px;
        --border-width-right: 2px;
        --border-width-bottom: 2px;
    }

    /* end sec4 */

    #sec5 .owl-nav > .owl-next {
        top: calc(50% - 0.5em);
    }

    /* end sec5 */

    #sec6 .slide .owl-carousel .item-title{
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 13px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 9.3px;
        line-height: 9.3px;
    }

    /* end sec6 */

    #sec7 .r2{
        flex-wrap: wrap;
    }
    #sec7 .r2 > .col1{
        order: 1;
    }
    #sec7 .r2 > .col2{
        order: 3;
    }
    #sec7 .r2 > .col3{
        order: 2;
    }
    #sec7 .flex-c {
        flex-direction: inherit;
    }

    /* end sec7 */

    #sec8{
        padding: 30px 50px;
    }

    /* end sec8 */

    #sec9 .r1 .col1 .content_block {
        padding: 60px 75px;
    }
    #sec9 .r3 div[class^="col-"]:not(:last-child){
        border-right: unset;
    }

    /* end sec9 */
}
@media only screen and (max-width: 768px){
    body{
        --sec2-padding:15px 0;
        --sec3-padding:15px 0;
        --sec4-padding:15px 0 30px;
        --sec6-padding:7.5px 0;
        --sec7-padding:7.5px 0 15px;
        --sec10-padding:0px 0 15px;
    }

    /* end all setting */

    #sec1{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #sec1 .wrapper #video1{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    #sec1 .head-content .content{
        max-width: 95%;
    }

    /* end sec1 */

    #sec2 .sec2-title{
        margin-bottom: 20px;
    }

    /* end sec2 */

    #sec4 .btn{
        margin-top: 30px;
    }
    #sec4 .btn > a {
        font-size: 1em;
    }
    #sec4 .sec4-desc{
        font-size: 22px !important;
        line-height: 29px !important;
    }
    #sec4 .sec4-title{
        display: block;
        font-size: 45px !important;
        line-height: 41px !important;
    }
    #sec4 .m-tl1 {
        font-size: 63%;
        line-height: 0em;
    }
    #sec4 .m-tl2 {
        line-height: 1.5em;
    }

    /* end sec4 */

    #sec6 .sec6-title{
        margin-bottom: 20px;
    }
    #sec6 .slide .owl-carousel .item-title{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 7px;
        line-height: 7px;
    }

    /* end sec6 */

    #sec8{
        padding: 20px;
    }
    #sec8 .r1 .content_block .content_group{
        padding: 0px;
    }
    #sec8 .r1 .content_block .content_group h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec8 .r1 .content_block .content_group form input,
    #sec8 .r1 .content_block .content_group form textarea{
        font-size: 14px;
        line-height: 20px;
    }
    #sec8 .r1 .content_block .content_group form input{
        min-height: 35px;
    }
    #sec8 .r1 .content_block .content_group form .bt-contact{
        font-size: 16px;
        line-height: 35px;
        padding: 5px 25%;
    }

    /* end sec8 */

    #sec9 .r1 .col1 .content_block{
        padding: 20px;
    }
    #sec9 .r4 .col1 .content_block{
        padding: 10px;
    }
    #sec9 .r1 .col1 .content_block h2{
        font-size: 35px;
    }
    #sec9 .r4 .col1 .content_block p.p1{
        font-size: 11px;
    }

    /* end sec9 */
}
@media only screen and (max-width: 767px){
    #sec9 .r3 div[class^="col-"]:not(:last-child)::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: var(--msBgDark);
    }

    /* end sec9 */
}
@media only screen and (max-width: 640px){
    #sec3 .owl-nav > .owl-prev {
        left: 25px;
        font-size: 25px;
    }
    #sec3 .slide .slide-title{
        font-size: 16px;
        line-height: 16px;
    }
    #sec3 .sec3-title {
        font-size: 55px !important;
        line-height: 100% !important;
    }

    /* end sec3 */

    #sec5 .sec5-title{
        font-size: 26px !important;
        line-height: 26px !important;
        margin: 0;
    }
    #sec5 .sec5-sub-title{
        font-size: 18px !important;
        line-height: 18px !important;
    }

    /* end sec5 */
}
@media only screen and (max-width: 340px){
    body{
        --sec4-min-height:200px;
    }

    /* end all setting */

    #sec3 .slide .slide-title{
        font-size: 12px;
        line-height: 12px;
    }
    #sec3 .sec3-title {
        font-size: 45px !important;
    }

    /* end sec3 */

    #sec4 .container{
        padding: 0 5px;
    }
    #sec4 .m-tl1 {
        font-size: 60%;
        line-height: 0em;
    }
    #sec4 .m-tl2 {
        font-size: 50%;
        line-height: 1.5em;
    }

    /* end sec4 */

    #sec5 .sec5-title{
        font-size: 24px !important;
        line-height: 24px !important;
        margin: 0;
    }
    #sec5 .sec5-sub-title{
        font-size: 16px !important;
        line-height: 16px !important;
    }

    /* end sec5 */

    #sec6 .slide .owl-carousel .item-title{
        font-size: 9px;
        line-height: 9px;
        margin-bottom: 5px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 5.5px;
        line-height: 5.5px;
    }

    /* end sec6 */
}
