body{
    --sec2-padding:40px 0;
}

/* end all setting */

#sec1 .wrapper{
    overflow: hidden;
}
#sec1 .col-h1{
    background-color: #00000045;
    height: calc(100% - 0.6%) !important;
}
#sec1 .head-btn{
    margin-top: 30px;
}
#sec1 .head-btn > a{
    font-size: 20px;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: #fff;
    padding: 15px 15px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec1 .head-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}
#sec1 .head-content .content{
    max-width: 80%;
}
#sec1 .head-content .content > *{
    color: #fff;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
}
#sec2 .sec2-title{
    margin-bottom: 40px;
}

@media only screen and (max-width: 991px){
    #sec1 .col-h1{
        height: 100% !important;
    }

    /* end sec1 */
}
@media only screen and (max-width: 768px){
    #sec1{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #sec1 .wrapper #video1{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    #sec1 .head-content .content{
        max-width: 95%;
    }

    /* end sec1 */
}
@media only screen and (max-width: 640px){

}
