body{
    --sec2-padding:40px 0;
    --sec6-padding:20px 0;
    --sec7-padding:20px 0 40px;
    --sec10-padding:0px 0 20px;
}

/* end all setting */

#sec1 .wrapper{
    overflow: hidden;
}
#sec1 .col-h1{
    background-color: #00000045;
    height: calc(100% - 0.6%) !important;
}
#sec1 .head-btn{
    margin-top: 30px;
}
#sec1 .head-btn > a{
    font-size: 20px;
    display: block;
    width: fit-content;
    background-color: var(--msBg);
    color: #fff;
    padding: 15px 15px;
    border-radius: 30px;
    transform: scale(0.9500);
    transition: all 0.2s;
}
#sec1 .head-btn > a:hover{
    transform: scale(1.1009);
    transition: all 0.2s;
}
#sec1 .head-content .content{
    max-width: 80%;
}
#sec1 .head-content .content > *{
    color: #fff;
}

/* end sec1 */

#sec2{
    padding: var(--sec2-padding);
}
#sec2 .sec2-title{
    margin-bottom: 40px;
}

/* end sec2 */

#sec5 .owl-stage{
    display: flex;
}
#sec5 .owl-item{
    margin: auto !important;
}
#sec5 .owl-nav > .owl-next {
    position: absolute;
    top: calc(50% - 2em);
    right: 6%;
    width: 100%;
    max-width: 150px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec5 .owl-nav > .owl-next:hover {
    max-width: 160px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec5 */

#sec6{
    padding: var(--sec6-padding);
}
#sec6 .sec6-title{
    margin-bottom: 40px;
}
#sec6 .slide .owl-carousel .item-title{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
#sec6 .slide .owl-carousel .item-desc{
    font-size: 14px;
    line-height: 14px;
}

/* end sec6 */

#sec7{
    padding: var(--sec7-padding);
}
#sec7 .r2{
    margin-top: 30px !important;
}

/* end sec7 */

#sec8{
    padding: 60px 125px;
}
#sec8 .r1 .content_block .content_group{
    max-width: 768px;
    border: 3px solid var(--msBgLight);
    padding: 40px;
}
#sec8 .r1 .content_block .content_group h2{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 40px;
}
#sec8 .r1 .content_block .content_group form{
    max-width: 580px;
}
#sec8 .r1 .content_block .content_group form input,
#sec8 .r1 .content_block .content_group form textarea{
    background-color: var(--msBgDark);
    border-top: 2px solid var(--msBgDark);
    border-left: 2px solid var(--msBgDark);
    border-right: 2px solid var(--msBgDark);
    border-bottom: 2px solid var(--msBgLight);
    color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
}
#sec8 .r1 .content_block .content_group form input{
    min-height: 50px;
}
#sec8 .r1 .content_block .content_group form textarea{
    resize: vertical;
}
#sec8 .r1 .content_block .content_group form input::placeholder,
#sec8 .r1 .content_block .content_group form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--msBg);
    opacity: 1; /* Firefox */
}
#sec8 .r1 .content_block .content_group form input:-ms-input-placeholder,
#sec8 .r1 .content_block .content_group form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--msBg);
    opacity: 1;
}
#sec8 .r1 .content_block .content_group form input::-ms-input-placeholder,
#sec8 .r1 .content_block .content_group form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--msBg);
    opacity: 1;
}
#sec8 .r1 .content_block .content_group form .bt-contact{
    font-size: 25px;
    line-height: 35px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    border: none;
    margin-top: 20px;
    padding: 10px 25%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec8 .r1 .content_block .content_group form .bt-contact:hover{
    color: var(--msBgLight);
    box-shadow: 0px 0px 3px var(--msBgLight);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* end sec8 */

#sec9 .r1 .col1 .content_block{
    padding: 60px 125px;
}
#sec9 .r2 .content_block,
#sec9 .r3 .content_block{
    padding: 20px;
}
#sec9 .r4 .col1 .content_block{
    padding: 20px 125px 10px;
}
#sec9 .r1 .col1 .content_block h2{
    font-size: 40px;
    line-height: 35px;
}
#sec9 .r2 .content_block .img_block,
#sec9 .r3 .content_block .img_block{
    width: 100%;
    max-width: 100px;
}
#sec9 .r2 .content_block h3,
#sec9 .r3 .content_block h3{
    font-size: 25px;
    font-weight: 600;
}
#sec9 .r2 .content_block a{
    font-size: 16px;
    color: var(--msBgDark);
    font-weight: 600;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec9 .r2 .content_block a:hover{
    color: var(--msBg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#sec9 .r2 .content_block p,
#sec9 .r3 .content_block p{
    font-size: 16px;
}
#sec9 .r3 .content_block p{
    margin-bottom: 20px;
}
#sec9 .r4 .col1 .content_block p.p1{
    font-size: 20px;
}
#sec9 .r3 div[class^="col-"]:not(:last-child){
    border-right: 2px solid var(--msBgDark);
}
#sec9 .r3 .content_block a.a-map{
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}

/* end sec9 */

#sec10 {
    padding: var(--sec10-padding);
}

/* end sec10 */

@media only screen and (min-width: 1024px){
    #sec5 .sec5-title{
        font-size: 100px !important;
    }
}
@media only screen and (min-width: 1400px){
    #sec5 .sec5-title{
        font-size: 120px !important;
    }
}
@media only screen and (min-width: 1600px){
    #sec5 .sec5-title{
        font-size: 140px !important;
    }
}
@media only screen and (max-width: 991px){
    #sec1 .col-h1{
        height: 100% !important;
    }

    /* end sec1 */

    #sec6 .slide .owl-carousel .item-title{
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 13px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 9.3px;
        line-height: 9.3px;
    }

    /* end sec6 */

    #sec7 .r2{
        flex-wrap: wrap;
    }
    #sec7 .r2 > .col1{
        order: 1;
    }
    #sec7 .r2 > .col2{
        order: 3;
    }
    #sec7 .r2 > .col3{
        order: 2;
    }
    #sec7 .flex-c {
        flex-direction: inherit;
    }

    /* end sec7 */

    #sec8{
        padding: 30px 50px;
    }

    /* end sec8 */

    #sec9 .r1 .col1 .content_block {
        padding: 60px 75px;
    }
    #sec9 .r3 div[class^="col-"]:not(:last-child){
        border-right: unset;
    }

    /* end sec9 */
}
@media only screen and (max-width: 768px){
    body{
        --sec2-padding:15px 0;
        --sec6-padding:7.5px 0;
        --sec7-padding:7.5px 0 15px;
        --sec10-padding:0px 0 15px;
    }

    /* end all setting */

    #sec1{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #sec1 .wrapper #video1{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    #sec1 .head-content .content{
        max-width: 95%;
    }

    /* end sec1 */

    #sec2 .sec2-title{
        margin-bottom: 20px;
    }

    /* end sec2 */

    #sec6 .sec6-title{
        margin-bottom: 20px;
    }
    #sec6 .slide .owl-carousel .item-title{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 7px;
        line-height: 7px;
    }

    /* end sec6 */

    #sec8{
        padding: 20px;
    }
    #sec8 .r1 .content_block .content_group{
        padding: 0px;
    }
    #sec8 .r1 .content_block .content_group h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec8 .r1 .content_block .content_group form input,
    #sec8 .r1 .content_block .content_group form textarea{
        font-size: 14px;
        line-height: 20px;
    }
    #sec8 .r1 .content_block .content_group form input{
        min-height: 35px;
    }
    #sec8 .r1 .content_block .content_group form .bt-contact{
        font-size: 16px;
        line-height: 35px;
        padding: 5px 25%;
    }

    /* end sec8 */

    #sec9 .r1 .col1 .content_block{
        padding: 20px;
    }
    #sec9 .r4 .col1 .content_block{
        padding: 10px;
    }
    #sec9 .r1 .col1 .content_block h2{
        font-size: 35px;
    }
    #sec9 .r4 .col1 .content_block p.p1{
        font-size: 11px;
    }

    /* end sec9 */
}
@media only screen and (max-width: 767px){
    #sec9 .r3 div[class^="col-"]:not(:last-child)::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: var(--msBgDark);
    }

    /* end sec9 */
}
@media only screen and (max-width: 300px){
    #sec6 .slide .owl-carousel .item-title{
        font-size: 9px;
        line-height: 9px;
        margin-bottom: 5px;
    }
    #sec6 .slide .owl-carousel .item-desc{
        font-size: 5.5px;
        line-height: 5.5px;
    }
}
