:root{
    --secOneContBox: 911px;
}
.circle{
    max-height: 80px;
    max-width: 80px;
    padding: 0 20px;
    border: 3px solid var(--msBg);
    border-radius: 50%;
    color: var(--msBgDark);
    font-weight: 600;
    text-align: center;
}
.animate_flashing1:not(:hover){
    animation-name: flashing1;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
.animate_flashing2{
    animation-name: flashing2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* End Setting All */

#sec1{
    background-image: url(/assets/images/landing/page1/desktop/new-image/Head-Landingpage-Thaipolyester.webp);
    background-size: cover;
    background-position: center;
    min-height: var(--secOneContBox);
    position: relative;
}
#sec1 .r1 .content_block{
    min-height: var(--secOneContBox);
}
#sec1 .r1 .content_block .content_group{
    margin-top: 40px !important;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 100%;
}
#sec1 .r1 .content_block .p1{
    font-size: 65px;
    line-height: 78px;
    font-weight: 600;
    color: var(--msBgDark);
}
#sec1 .r1 .content_block .p2{
    font-size: 180px;
    line-height: 155px;
    font-weight: 600;
}
#sec1 .r1 .content_block .p3{
    font-size: 65px;
    line-height: 78px;
    font-weight: 600;
    color: var(--msBgDark);
}

/* End Sec1 */

#sec2 .r1 .content_block{
    max-width: calc(100% - 300px);
    font-size: 30px;
    line-height: 40px;
}
#sec2 .r1 .content_block .content_group{
    padding: 100px 20px;
}
#sec2 .r1 .content_block .content_group .p1{
    margin-bottom: 30px;
}

/* End Sec2 */

#sec4 .r1 h2{
    font-size: 40px;
    line-height: 50px;
    padding: 40px 20px;
}
#sec4 .r1 h2 > label{
    font-size: 50px;
    line-height: 65px;
}
#sec4 .r1 .content_block{
    padding: 0 150px;
    margin-bottom: 30px;
}

#sec4 .r1 .content_block table{
    width: 100%;
    table-layout:fixed;
}
#sec4 .r1 .content_block table th{
    background-color: var(--msBg);
    border: 2px solid var(--msBgDark);
    border-collapse: collapse;
    color: var(--msBgLight);
    word-wrap: break-word;
    text-align: center;
    height: 40px;
    padding: 5px;
}
#sec4 .r1 .content_block table td{
    background-color: var(--msBgLight);
    border: 2px solid var(--msBgDark);
    border-collapse: collapse;
    color: var(--msBgDark);
    word-wrap: break-word;
    text-align: center;
    height: 30px;
    padding: 5px;
}
#sec4 .r1 .content_block table td.text_focus{
    font-size: 22px;
    line-height: 25px;
}

/* End Sec4 */

#sec5 .r1 .content_block table{
    width: 100%;
    table-layout:fixed;
}
#sec5 .r1 .content_block table th{
    background-color: var(--msBg);
    border: 2px solid var(--msBgLight);
    border-collapse: collapse;
    color: var(--msBgLight);
    word-wrap: break-word;
    text-align: center;
    height: 40px;
    padding: 5px;
}
#sec5 .r1 .content_block table td{
    background-color: var(--msBgDark);
    border: 2px solid var(--msBgLight);
    border-collapse: collapse;
    color: var(--msBgGreen);
    word-wrap: break-word;
    text-align: center;
    height: 30px;
    padding: 5px;
}
#sec5 .r1 .content_block table td.psf-font-1{
    font-size: 22px !important;
}
#sec5 .r1 .content_block table td.psf-font-2{
    font-size: 20px !important;
}
#sec5 .r1 .content_block{
    padding: 30px 150px 0px;
    margin-bottom: 30px;
}
#sec5 .r1 .content_block h2{
    font-size: 150px;
    padding: 40px 20px 10px 20px;
}
#sec5 .r1 .content_block h3{
    font-size: 65px;
}
#sec5 .r1 .content_block .p1{
    font-size: 30px;
    line-height: 40px;
}
#sec5 .td-white{
    background-color: var(--msBgLight) !important;
    color: var(--msBgDark) !important;
}
#sec5 .r1 .psf-image{
    padding: 40px 150px;
}
#sec5 .r1 .psf-image ul > li{
    padding: 2.5px !important;
}

/* End Sec5 */

#sec6 > ul{
    padding: 30px 150px;
    /* padding: 30px 100px; */
}
#sec6 .prod_name{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    color: var(--msBgDark);
}

/* End Sec6 */

#sec7 .r1 .col1 .content_block,
#sec7 .r1 .col2 .content_block,
#sec7 .r1 .col3 .content_block{
    padding: 40px 20px;
}
#sec7 .r1 .col1 .content_block h2{
    font-size: 65px;
    line-height: 80px;
}
#sec7 .r1 .col2 .content_block .p1{
    font-size: 30px;
    line-height: 40px;
}
#sec7 .r1 .col3 .content_block a{
    font-size: 30px;
    line-height: 40px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    padding: 15px 20px;
    transition: all 0.1s;
}
#sec7 .r1 .col3 .content_block a:hover{
    color: var(--msBgLight);
    box-shadow: 2px 2px 4px var(--msBgDark);
    transition: all 0.1s;
}

/* End Sec7 */

#sec8 .r1 .col1 .content_block,
#sec8 .r1 .col2 .content_block,
#sec8 .r1 .col3 .content_block,
#sec8 .r1 .col4 .content_block,
#sec8 .r1 .col5 .content_block{
    padding: 40px 20px;
}
#sec8 .r1 .col1 .content_block h2,
#sec8 .r1 .col2 .content_block h2,
#sec8 .r1 .col4 .content_block h2{
    font-size: 65px;
    line-height: 80px;
}
#sec8 .r1 .col3 .content_block .p1,
#sec8 .r1 .col5 .content_block .p1{
    font-size: 30px;
    line-height: 40px;
}

/* End Sec8 */

#sec9 .r1 .content_block{
    padding: 60px 215px;
}

/* End Sec9 */

#sec10 .r1 .col1 .content_block,
#sec10 .r1 .col2 .content_block{
    padding: 30px 125px;
}
#sec10 .r1 .col1 .content_block h2,
#sec10 .r1 .col2 .content_block .content_group{
    max-width: calc(100% - 100px);
}
#sec10 .r1 .col1 .content_block h2{
    font-size: 60px;
    line-height: 80px;
}
#sec10 .r1 .col2 .content_block .content_group .p1{
    font-size: 30px;
    line-height: 60px;
}

/* End Sec10 */

#sec11 .r1 .content_block{
    padding: 60px 20px 40px 20px;
}
#sec11 .r1 .content_block h2{
    font-size: 65px;
    line-height: 80px;
}

/* End Sec11 */

#sec12 > ul{
    padding: 30px 150px;
    /* padding: 30px 100px; */
}

/* End Sec12 */

#sec13 .r1 .content_block{
    padding: 40px 20px;
}
#sec13 .r1 .content_block h2{
    font-size: 65px;
    line-height: 80px;
}

/* End Sec13 */

#sec14 > ul{
    padding: 30px 150px;
    flex-direction: row;
    flex-wrap: wrap;
}
#sec14 > ul > li{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* End Sec14 */

#sec15 .r1 .col1 .content_block,
#sec15 .r1 .col2 .content_block{
    padding: 30px 125px;
}
#sec15 .r1 .col1 .content_block h2{
    font-size: 65px;
    line-height: 80px;
}
#sec15 .r1 .col2 .content_block .p1{
    font-size: 30px;
    line-height: 60px;
}

/* End Sec15 */

#sec16{
    padding: 60px 125px;
}
#sec16 .r1 .content_block .content_group{
    max-width: 768px;
    border: 3px solid var(--msBgLight);
    padding: 40px;
}
#sec16 .r1 .content_block .content_group h2{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 40px;
}
#sec16 .r1 .content_block .content_group form{
    max-width: 580px;
}
#sec16 .r1 .content_block .content_group form input,
#sec16 .r1 .content_block .content_group form textarea{
    background-color: var(--msBgDark);
    border-top: 2px solid var(--msBgDark);
    border-left: 2px solid var(--msBgDark);
    border-right: 2px solid var(--msBgDark);
    border-bottom: 2px solid var(--msBgLight);
    color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
}
#sec16 .r1 .content_block .content_group form input{
    min-height: 50px;
}
#sec16 .r1 .content_block .content_group form textarea{
    resize: vertical;
}
#sec16 .r1 .content_block .content_group form input::placeholder,
#sec16 .r1 .content_block .content_group form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--msBg);
    opacity: 1; /* Firefox */
}
#sec16 .r1 .content_block .content_group form input:-ms-input-placeholder,
#sec16 .r1 .content_block .content_group form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--msBg);
    opacity: 1;
}
#sec16 .r1 .content_block .content_group form input::-ms-input-placeholder,
#sec16 .r1 .content_block .content_group form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--msBg);
    opacity: 1;
}
#sec16 .r1 .content_block .content_group form .bt-contact{
    font-size: 25px;
    line-height: 35px;
    color: var(--msBgDark);
    background-color: var(--msBg);
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    transition: all 0.2s;
}
#sec16 .r1 .content_block .content_group form .bt-contact:hover{
    color: var(--msBgLight);
    box-shadow: 0px 0px 3px var(--msBgLight);
    transition: all 0.2s;
}

/* End Sec16 */

#sec17 .r1 .col1 .content_block{
    padding: 60px 125px;
}
#sec17 .r2 .content_block,
#sec17 .r3 .content_block{
    padding: 20px;
}
#sec17 .r4 .col1 .content_block{
    padding: 20px 125px 10px;
}
#sec17 .r1 .col1 .content_block h2{
    font-size: 40px;
    line-height: 35px;
}
#sec17 .r2 .content_block .img_block,
#sec17 .r3 .content_block .img_block{
    width: 100%;
    max-width: 100px;
}
#sec17 .r2 .content_block h3,
#sec17 .r3 .content_block h3{
    font-size: 25px;
    font-weight: 600;
}
#sec17 .r2 .content_block a{
    font-size: 16px;
    color: var(--msBgDark);
    font-weight: 600;
    transition: all 0.2s;
}
#sec17 .r2 .content_block a:hover{
    color: var(--msBg);
    transition: all 0.2s;
}
#sec17 .r2 .content_block p,
#sec17 .r3 .content_block p{
    font-size: 16px;
}
#sec17 .r3 .content_block p{
    margin-bottom: 20px;
}
#sec17 .r4 .col1 .content_block p.p1{
    font-size: 20px;
}
#sec17 .r3 div[class^="col-"]:not(:last-child){
    border-right: 2px solid var(--msBgDark);
}
#sec17 .r3 .content_block a.a-map{
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}

/* End Sec17 */

#sec18 .r1 .col1 .content_block{
    padding: 0px 125px;
}
#sec18 .r1 .col2 .content_block{
    padding: 0px 125px 20px;
}
#sec18 .r1 .col1 .content_block h2{
    font-size: 34px;
    font-weight: 600;
}
#sec18 .r1 .col2 .content_block p.p1{
    font-size: 25px;
    line-height: 30px;
}

/* End Sec18 */

@media only screen and (max-width: 991px){
    #sec2 .r1 .content_block {
        max-width: calc(100% - 50px);
    }

    /* End Sec2 */

    #sec4 .r1 .content_block{
        padding: 0 75px;
    }

    /* End Sec4 */

    #sec5 .r1 .psf-image {
        padding: 40px 75px;
    }
    #sec5 .r1 .content_block {
        padding: 30px 75px 0px;
    }

    /* End Sec5 */

    #sec6 > ul {
        padding: 30px 75px;
    }

    /* End Sec6 */

    #sec9 .r1 .content_block{
        padding: 30px 75px;
        display: flex;
        flex-wrap: wrap;
    }
    #sec9 .r1 .content_block > .col1{
        order: 1;
    }
    #sec9 .r1 .content_block > .col2{
        order: 3;
    }
    #sec9 .r1 .content_block > .col3{
        order: 2;
    }
    /* End Sec9 */

    #sec10 .r1 .col1 .content_block,
    #sec10 .r1 .col2 .content_block {
        padding: 30px 50px;
    }

    /* End Sec10 */

    #sec12 > ul {
        padding: 30px 75px;
    }
    #sec12 > ul > li{
        margin-bottom: 10px;
    }

    /* End Sec12 */

    #sec14 > ul {
        padding: 30px 75px;
    }

    /* End Sec12 */

    #sec15 .r1 .col1 .content_block,
    #sec15 .r1 .col2 .content_block{
        padding: 30px 50px;
    }

    /* End Sec15 */

    #sec16{
        padding: 30px 50px;
    }

    /* End Sec16 */

    #sec17 .r1 .col1 .content_block {
        padding: 60px 75px;
    }
    #sec17 .r3 div[class^="col-"]:not(:last-child){
        border-right: unset;
    }

    /* End Sec17 */

    #sec18 .r1 .col1 .content_block {
        padding: 0px 75px;
    }
    #sec18 .r1 .col2 .content_block {
        padding: 0px 75px 20px;
    }

    /* End Sec18 */
}
@media only screen and (max-width: 768px){
    :root{
        --secOneContBox: 471px;
    }
    .circle{
        padding: 0 10px;
    }

    /* End Setting All */

    #sec1{
        background-image: url(/assets/images/landing/page1/mobile/new-image/Head-Landingpage-Thaipolyester.webp);
        background-size: 100% 100%;
        background-position: unset;
    }
    #sec1 .r1 .content_block .p1{
        font-size: 27px;
        line-height: 32px;
    }
    #sec1 .r1 .content_block .p2{
        font-size: 75px;
        line-height: 80px;
    }
    #sec1 .r1 .content_block .p3{
        font-size: 27px;
        line-height: 32px;
    }
    #sec1 .r1 .content_block .content_group{
        min-height: var(--secOneContBox);
        background-color: rgba(255, 255, 255, 0.2);
    }

    /* End Sec1 */

    #sec2 .r1 .content_block{
        max-width: unset;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
    #sec2 .r1 .content_block .content_group {
        padding: 50px 20px;
    }

    /* End Sec2 */

    #sec4 .r1 .content_block{
        padding: 0;
    }
    #sec4 .r1 h2 {
        font-size: 25px;
        padding: 20px;
    }
    #sec4 .r1 h2 > label{
        font-size: 30px;
    }
    #sec4 .r1 .content_block table td{
        padding: 2px;
        font-size: 9.6px;
        line-height: 12px;
    }
    #sec4 .r1 .content_block table td.text_focus{
        font-size: 12.6px;
        line-height: 15px;
    }

    /* End Sec4 */

    #sec5 .r1 .content_block{
        padding: 0;
    }
    #sec5 .r1 .content_block h2{
        font-size: 100px;
    }
    #sec5 .r1 .content_block h3{
        font-size: 26px;
    }
    #sec5 .r1 .content_block .p1{
        font-size: 18px;
        line-height: 22px;
    }
    #sec5 .r1 .content_block table td{
        padding: 2px;
        font-size: 9.6px;
        line-height: 12px;
    }
    #sec5 .r1 .psf-image{
        padding: 30px 30px;
    }
    #sec5 .r1 .content_block table td.psf-font-1{
        font-size: 17px !important;
    }
    #sec5 .r1 .content_block table td.psf-font-2{
        font-size: 16px !important;
    }

    /* End Sec5 */

    #sec6 > ul{
        padding: 0px 0px 30px;
    }

    /* End Sec6 */

    #sec7 .r1 .col1 .content_block,
    #sec7 .r1 .col2 .content_block,
    #sec7 .r1 .col3 .content_block{
        padding: 20px;
    }
    #sec7 .r1 .col1 .content_block h2 {
        font-size: 30px;
        line-height: 32px;
    }
    #sec7 .r1 .col2 .content_block .p1 {
        font-size: 18px;
        line-height: 22px;
    }
    #sec7 .r1 .col3 .content_block a{
        font-size: 20px;
        padding: 10px 15px;
    }

    /* End Sec7 */

    #sec8 .r1 .col1 .content_block,
    #sec8 .r1 .col2 .content_block,
    #sec8 .r1 .col3 .content_block,
    #sec8 .r1 .col4 .content_block,
    #sec8 .r1 .col5 .content_block{
        padding: 20px;
    }
    #sec8 .r1 .col1 .content_block h2,
    #sec8 .r1 .col2 .content_block h2,
    #sec8 .r1 .col4 .content_block h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec8 .r1 .col3 .content_block .p1,
    #sec8 .r1 .col5 .content_block .p1{
        font-size: 18px;
        line-height: 22px;
    }

    /* End Sec8 */

    #sec9 .r1 .content_block{
        padding: 30px 0;
    }

    /* End Sec9 */

    #sec10 .r1 .col1 .content_block,
    #sec10 .r1 .col2 .content_block {
        padding: 15px 20px;
    }
    #sec10 .r1 .col1 .content_block h2, #sec10 .r1 .col2 .content_block .content_group {
        max-width: unset;
    }
    #sec10 .r1 .col1 .content_block h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec10 .r1 .col2 .content_block .content_group .p1{
        font-size: 18px;
        line-height: 22px;
    }

    /* End Sec10 */

    #sec11 .r1 .content_block{
        padding: 20px;
    }
    #sec11 .r1 .content_block h2{
        font-size: 30px;
        line-height: 32px;
    }

    /* End Sec11 */

    #sec12 > ul{
        padding: 30px 40px;
    }
    #sec12 > ul li{
        padding: 0 2.5px !important;
        margin-bottom: 15px;
    }

    /* End Sec12 */

    #sec13 .r1 .content_block{
        padding: 20px;
    }
    #sec13 .r1 .content_block h2{
        font-size: 30px;
        line-height: 32px;
    }

    /* End Sec13 */

    #sec14 > ul{
        padding: 0px 0px 30px;
    }

    /* End Sec14 */

    #sec15 .r1 .col1 .content_block,
    #sec15 .r1 .col2 .content_block{
        padding: 15px 20px;
    }
    #sec15 .r1 .col1 .content_block h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec15 .r1 .col2 .content_block .p1{
        font-size: 18px;
        line-height: 22px;
    }

    /* End Sec15 */

    #sec16{
        padding: 20px;
    }
    #sec16 .r1 .content_block .content_group{
        padding: 0px;
    }
    #sec16 .r1 .content_block .content_group h2{
        font-size: 30px;
        line-height: 32px;
    }
    #sec16 .r1 .content_block .content_group form input,
    #sec16 .r1 .content_block .content_group form textarea{
        font-size: 14px;
        line-height: 20px;
    }
    #sec16 .r1 .content_block .content_group form input{
        min-height: 35px;
    }
    #sec16 .r1 .content_block .content_group form .bt-contact{
        font-size: 16px;
        line-height: 35px;
        padding: 5px 15px;
    }

    /* End Sec16 */

    #sec17 .r1 .col1 .content_block{
        padding: 20px;
    }
    #sec17 .r4 .col1 .content_block{
        padding: 10px;
    }
    #sec17 .r1 .col1 .content_block h2{
        font-size: 35px;
    }
    #sec17 .r4 .col1 .content_block p.p1{
        font-size: 11px;
    }

    /* End Sec17 */

    #sec18 .r1 .col1 .content_block{
        padding: 0 20px;
    }
    #sec18 .r1 .col2 .content_block{
        padding: 20px;
    }
    #sec18 .r1 .col1 .content_block h2{
        font-size: 27px;
    }
    #sec18 .r1 .col2 .content_block p.p1{
        font-size: 18px;
        line-height: 22px;
    }

    /* End Sec18 */
}
@media only screen and (max-width: 767px){
    #sec17 .r3 div[class^="col-"]:not(:last-child)::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: var(--msBgDark);
    }

    /* End Sec17 */
}
@media only screen and (max-width: 330px){
    #sec5 .r1 .content_block table td.psf-font-1{
        font-size: 12.6px !important;
    }
    #sec5 .r1 .content_block table td.psf-font-2{
        font-size: 10.6px !important;
    }
}
@media only screen and (min-width: 992px){
    #sec3 .r1 .col-md-6-5{
        width: 55.8% !important;
    }
    #sec3 .r1 .col-md-5-5{
        width: 44.2% !important;
    }

    /* End Sec3 */

    #sec5 .r1 .psf-image .col-md-4-5{
        width: 39.88888888666667% !important;
    }
    #sec5 .r1 .psf-image .col-md-3-75{
        width: 30.05555555666667% !important;
    }

    /* End Sec5 */

    #sec6 .row .col-md-1-5{
        width: 12.5% !important;
    }

    /* End Sec6 */

    #sec9 .r1 .col-md-4-25{
        width: 34.83333333%;
    }
    #sec9 .r1 .col-md-3-5{
        width: 30.33333334%;
    }

    /* End Sec9 */
}
@keyframes flashing1 {
    0%   {
        color: var(--msBgDark);
    }
    25%  {
        color: var(--msBgLight);
    }
    100% {
        color: var(--msBgDark);
    }
}
@keyframes flashing2 {
    0%   {
        color: var(--msBgGreen);
    }
    25%  {
        color: red;
    }
    50%  {
        color: var(--msBgGreen);
    }
    75%  {
        color: red;
    }
    100% {
        color: var(--msBgGreen);
    }
}
