input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    width: 100%;
    border-radius: 3px;
    padding: 2rem 1.5rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* end all setting */

#language{
    padding: 15px 0;
}
#sec3{
    background-image: url('/assets/images/landing/page6/desktop/TPC-bg.webp');
    background-position: center center;
    background-size: cover;
    padding: 70px 0px 40px 0px;
}
#sec3 .owl-nav > .owl-prev,
#sec3 .owl-nav > .owl-next{
    position: absolute;
    top: calc(50% - 30px / 2);
    font-size: 30px;
    color: hsla(0,0%,93.3%,.9);
}
#sec3 .owl-nav > .owl-prev{
    left: 10px;
}
#sec3 .owl-nav > .owl-next{
    right: 10px;
}

/* end sec3 */

#sec5{
    background-image: url('/assets/images/landing/page6/desktop/TPC-bg.webp');
    background-position: center center;
    background-size: cover;
    padding: 70px 0px 70px 0px;
}
#sec5 .col1,
#sec5 .col2{
    padding: 0 30px;
}
#sec5 .col2 .slide{
    padding: 20px;
}
#sec5 .owl-stage-outer{
    padding-bottom: 30px;
}
#sec5 .owl-nav > .owl-prev,
#sec5 .owl-nav > .owl-next{
    position: absolute;
    top: calc(50% - 30px / 2);
    font-size: 30px;
    color: hsla(0,0%,93.3%,.9);
}
#sec5 .owl-nav > .owl-prev{
    left: -30px;
}
#sec5 .owl-nav > .owl-next{
    right: -30px;
}
#sec5 .owl-dots{
    text-align: center;
}
#sec5 .owl-dots button.owl-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 6px;
    background: #fff;
    opacity: 0.2;
}
#sec5 .owl-dots button.owl-dot.active{
    opacity: 1;
}

/* end sec5 */

#sec6{
    background-color: #FCFCFC;
    background-image: url('/assets/images/landing/page6/desktop/TPC-6.webp');
    background-position: top center;
    background-size: cover;
    padding: 200px 0px 40px 0px;
}
#sec6 .m-title{
    display: none;
}
#sec6 svg{
    width: 5em;
    height: 5em;
    position: relative;
    display: block;
    fill: var(--msBg);
}
#sec6 .opv-block{
    margin: 15px;
    padding: 30px;
    box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 15%);
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* end sec6 */

#sec7{
    background-image: url('/assets/images/landing/page6/desktop/TPC-bg-2.webp');
    background-position: bottom center;
    background-size: cover;
    padding: 50px 0px 50px 0px;
}
#sec7 .slide .item{
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}
#sec7 .owl-dots{
    text-align: center;
}
#sec7 .owl-dots button.owl-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 6px;
    background: #000;
    opacity: 0.2;
}
#sec7 .owl-dots button.owl-dot.active{
    opacity: 1;
}

/* end sec7 */

#sec9{
    background-color: #202731;
    color: #fff;
    background-image: url('/assets/images/landing/page6/desktop/rolled-wool-yarn-fabric-background-1.webp');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0px 70px 0px;
}
#sec9 .col1 > *:not(.title),
#sec9 .col1 > *:not(.title-phone),
#sec9 .col1 > *:not(.title-email){
    margin-bottom: 30px;
}
#sec9 .col1 > .title{
    margin-bottom: 20px;
}
#sec9 .col1 > .title-phone{
    margin-top: 70px;
    margin-bottom: 50px;
}
#sec9 .col1 > .title-email{
    margin-bottom: 50px;
}
#sec9 svg{
    width: 1.5em;
    height: 2em;
    position: relative;
    display: inline-block;
    fill: var(--msBg);
    margin: 0;
    margin-right: 1em;
}
#sec9 .title-text{
    font-size: 20px;
    font-weight: 900;
}
#sec9 .form-block{
    padding: 40px 40px 40px 40px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
}
#sec9 .form-block .bt-contact{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3FB474;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #3FB474;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#sec9 .form-block .bt-contact:hover{
    color: #FFFFFF;
    background-color: #51C384;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* end sec9 */

#copyright {
    padding: 20px 0px 10px 0px;
}
#copyright .r1{
    display: flex;
}
#copyright .r1 > *{
    margin: auto;
}
#copyright svg{
    width: 1.5em;
    height: 2em;
    position: relative;
    display: inline-block;
    fill: #fff;
    margin: 0;
    margin-right: 1em;
}
@media only screen and (max-width: 991px){
    #sec9 .column-re{
        display: flex;
        flex-direction: column-reverse;
    }
    #sec9 .column-re > *{
        margin-bottom: 20px;
    }

    /* end sec9 */
}
@media only screen and (max-width: 640px){
    #sec5 .col1,
    #sec5 .col2{
        padding: 0;
    }

    /* end sec5 */

    #sec6{
        background-image: url('/assets/images/landing/page6/mobile/TPC-6.webp');
        padding: 50px 0px 50px 0px;
    }
    #sec6 .m-title{
        display: block;
    }
    #sec6 .opv-block{
        margin: 15px 0 15px 0;
        padding: 15px 0 15px 0;
    }

    /* end sec6 */

    #sec9 .container{
        padding: 0;
    }

    /* end sec9 */

    #copyright .r1{
        flex-direction: column;
    }
    #copyright .r1 > *{
        margin: auto;
        margin-bottom: 10px;
    }
}
