:root{
    --max-width:100%;
    --background-color:#272d3af0;
    --text-color:#fff;
}
#pdpa .wrapper{
    width: calc(100% - 30px);
    padding: 15px;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    left: 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 999;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}
#pdpa .wrapper.hidden{
    bottom: -100%;
    visibility: hidden;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}
#pdpa .wrapper .group{
    margin: auto;
    display: flex;
}
#pdpa .wrapper .group > p{
    margin: auto;
}
#pdpa .wrapper .group.btn{
    padding: 0;
}
#pdpa .wrapper .group .btn-group{
    display: flex;
    margin: auto;
}
#pdpa .wrapper .group .btn-group > button:first-child{
    margin-left: 5px;
}
#pdpa .wrapper .group .btn-group > button:not(:last-child){
    margin-right: 5px;
}
#pdpa .wrapper .group .btn-group > button[class^="btn-"]{
    display: block;
    width: 100%;
    border: none;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
#pdpa .wrapper .group .btn-group > button.btn-accept{
    background-color: #04AA6D;
    transition: all 0.2s;
}
#pdpa .wrapper .group .btn-group > button.btn-accept:hover{
    background-color: #05c780;
    transition: all 0.2s;
}
#pdpa .wrapper .group .btn-group > button.btn-decline{
    background-color: transparent;
    transition: all 0.2s;
}
#pdpa .wrapper .group .btn-group > button.btn-decline:hover{
    background-color: #05c780;;
    transition: all 0.2s;
}
@media (max-width: 991px) {
    :root{
        --max-width:100%;
    }
    #pdpa .wrapper{
        flex-direction: column;
    }
    #pdpa .wrapper .group.btn{
        width: 100%;
    }
    #pdpa .wrapper .group > p{
        margin-bottom: 10px;
    }
    #pdpa .wrapper .group .btn-group,
    #pdpa .wrapper .group .btn-group > button[class^="btn-"]{
        width: 100%;
    }
}
