footer .container{
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .container ul.lists > li > a{
    font-size: 18px;
    line-height: 25px;
    color: #f0f9ff;
    opacity: 0.6;
    transition: all 0.2s;
}
footer .container ul.lists > li > a:hover{
    opacity: 1;
    transition: all 0.2s;
}
footer .container .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 40%);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}
footer .container .item.social > a:hover{
    opacity: 0.9;
}
footer .cr{
    padding: 20px 0;
}
