#sec2{
    padding-top: 50px;
    padding-bottom: 50px;
}
#sec2 .headform1{
    font-size: 33px !important;
    font-weight: 600 !important;
}
#sec2 .subheadform1{
    font-size: 22px !important;
    font-weight: 600 !important;
}
#sec2 .content_group{
    max-width: 83.33333333%;
    padding: 0 15px;
}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 768px){
    #sec2 .content_group{
        max-width: 100%;
    }
}
