:root{
    --mh-sec3-card:420px;
}
.owl-carousel .owl-dots{
    text-align: center;
    padding: 10px 0;
}
.owl-carousel button.owl-dot{
    background: var(--msBg) !important;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
}
.owl-carousel button.owl-dot.active{
    background: #555 !important;
}

/* end config */

#sec2{
    padding-top: 50px;
    padding-bottom: 50px;
}
#sec2 .headform1{
    font-size: 33px !important;
    font-weight: 600 !important;
}
#sec2 .subheadform1{
    font-size: 22px !important;
    font-weight: 600 !important;
}
#sec2 .content_group{
    max-width: 83.33333333%;
    padding: 0 15px;
}
#sec2 form{
    padding: 25px 15px;
}
#sec2 form input:not([type="checkbox"]){
    display: block;
    width: 100%;
    padding: 30px 30px !important;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-clip: padding-box;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#sec2 form .form-check input[type="checkbox"]{
    margin: 4px 16px 0 4px;
    width: 2em;
    height: 1em;
}
#sec2 form .btn-regis{
    width: 100%;
    max-width: 60%;
    padding: 20px 20px;
    font-weight: 600 !important;
    background-color: #e4b68c;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    transition: all 0.2s;
}
#sec2 form .btn-regis:hover{
    background-color: var(--msBg);
    color: var(--msBgLight);
    transition: all 0.2s;
}

/* end sec2 */

#sec3{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(/assets/images/landing/Finallanding/v1_34.png);
    background-color: rgba(255, 255, 255, 0.6),;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
#sec3 .row{
    padding-top: 20px;
    padding-bottom: 50px;
}
#sec3 .h-title{
    color: var(--msBgLight);
    text-shadow: 1px 2px 4px var(--msBgDark);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
#sec3 .card{
    padding: 15px;
    background: rgba(196, 196, 196, 1);
    text-align: center;
    position: relative;
    border-radius: 30px;
    opacity: 0.9;
    margin-bottom: 15px;
    min-height: var(--mh-sec3-card);
}
#sec3 .card .card-title{
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    position: relative;
    padding: 16px 0 13px;
}
#sec3 .card .card-title::after{
    content: " ";
    background-color: var(--msBgDark);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#sec3 .card .card-desc{
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    margin: 50px 0;
}

/* end sec3 */

#sec4{
    padding-top: 50px;
    padding-bottom: 0px;
}
#sec4 .h-title{
    color: var(--msBgDark);
    /* text-shadow: 1px 2px 4px var(--msBgDark); */
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
#sec4 .prod_tab{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#sec4 .nav-tabs {
    border-bottom: none;
}
#sec4 .nav-tabs > li > a{
    border-radius: 30px;
    /* width: 170px; */
    font-size: 14px;
    font-weight: 700;
    padding: 12px 16px;
    text-align: center;
    border: 1px solid black;
    background-color: #FFFFFF;
    color: var(--msBgDark);
    margin: 0px 5px 5px 5px;
    box-sizing: border-box;
}
#sec4 .nav-tabs > li.active > a,
#sec4 .nav-tabs > li.active > a:focus,
#sec4 .nav-tabs > li.active > a:hover{
    border: 1px solid #FF0000 !important;
    color: #FF0000 !important;
}
#sec4 .prod_tab li{
    width: fit-content;
}
#sec4 .tab-content > .tab-pane{
    padding: 50px 0;
}

/* end sec4 */

#sec5{
    padding-top: 50px;
    padding-bottom: 0;
}
#sec5 .container-fluid{
    padding-right: 50px;
    padding-left: 50px;
}
#sec5 .container-fluid .col1 img{
    display: block;
    border: 5px solid #000000;
}
#sec5 .container-fluid .col2 .h-title{
    font-size: 24px;
    line-height: 0px;
    font-weight: bold;
    color: #5b6ce5;
}
#sec5 .container-fluid .col2 .h-sub-title{
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
    color: #2e2e7a;
}
#sec5 .container-fluid .col2 p{
    font-size: 28px;
    line-height: 35px;
    color: #637294;
}

/* end sec5 */

#sec6{
    padding-top: 0;
    padding-bottom: 50px;
}
#sec6 .title-lists{
    font-size: 30px;
    font-weight: bold;
    color: #5b6ce5;
}
#sec6 .lists{
    font-size: 24px;
    line-height: 34px;
    color: #2e2e7a;
    list-style: disc;
    padding-left: 5%;
}
#sec6 .col2{
    min-height: 800px;
}

/* end sec6 */

#sec7{
    background-color: #d9f0e3;
}
#sec7 .slide{
    padding-top: 80px;
    padding-bottom: 80px;
}
#sec7 .slide .owl-nav{
    font-size: 85px;
    font-weight: bold;
    color: var(--msBg);
}
#sec7 .slide .owl-nav > .owl-prev{
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    transition: all 0.2s;
}
#sec7 .slide .owl-nav > .owl-prev:hover{
    text-shadow: -5px 1px 3px var(--msBgDark);
    top: calc(50% - 45px);
    transition: all 0.2s;
}
#sec7 .slide .owl-nav > .owl-next{
    position: absolute;
    right: 0;
    top: calc(50% - 40px);
    transition: all 0.2s;
}
#sec7 .slide .owl-nav > .owl-next:hover{
    text-shadow: 5px 1px 3px var(--msBgDark);
    top: calc(50% - 45px);
    transition: all 0.2s;
}

/* end sec7 */

@media only screen and (max-width: 991px){
    #sec5 .container-fluid{
        padding-right: unset;
        padding-left: unset;
    }
    #sec5 .container-fluid .col2{
        padding: 20px 40px 0;
    }

    /* end sec5 */
}

@media only screen and (max-width: 768px){
    :root{
        --mh-sec3-card:281px;
    }

    /* end config */

    #sec2 .content_group{
        max-width: 100%;
    }
    #sec2 form .form-check input[type="checkbox"]{
        width: unset;
        height: unset;
    }
    #sec2 form .btn-regis{
        max-width: 100%;
    }

    /* end sec2 */

    #sec3 .card .card-title{
        font-size: 24px;
        padding: 8px 0 6.5px;
    }
    #sec3 .card .card-desc{
        font-size: 16px;
        margin: 25px 0 0;
    }

    /* end sec3 */

    #sec4 .tab-content > .tab-pane > .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* end sec4 */

    #sec5 .container-fluid .col2 .h-title{
        font-size: 18px;
    }
    #sec5 .container-fluid .col2 .h-sub-title{
        font-size: 26px;
        line-height: 30px;
    }
    #sec5 .container-fluid .col2 p{
        font-size: 20px;
        line-height: 30px;
    }

    /* end sec5 */

    #sec6 .title-lists{
        font-size: 24px;
    }
    #sec6 .lists{
        font-size: 16px;
        line-height: 26px;
    }
    #sec6 .col2{
        padding-top: 20px;
        min-height: unset;
    }

    /* end sec6 */

    #sec7 .slide .owl-nav{
        font-size: 42.5px;
    }

    /* end sec7 */
}
