.map a.a-map {
    margin-top: 20px;
    background-color: var(--msBg);
    color: var(--msBgDark);
    padding: 2.5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-top: 0.5px solid #ccc;
    border-left: 0.5px solid #999;
    border-right: none;
    border-bottom: none;
}
.icon{
    position: absolute;
    top: -5px;
    left: 0;
    min-width: 40px;
    display: flex;
}
.icon picture{
    margin: auto;
}
.social .social_lists{
    margin-top: 20px;
}
.social .social_lists > li{
    display: inline;
}
.social .social_lists > li > a img{
    transform: scale(0.9501);
    transition: transform 0.2s;
}
.social .social_lists > li > a img:hover{
    transform: scale(1.1001);
    transition: transform 0.2s;
}
.desc a{
    color: var(--msBgLight);
    transition: all 0.2s;
}
.desc a:hover{
    color: var(--msBg);
    transition: all 0.2s;
}
ul.product_lists{
    padding-left: 20px;
}
ul.product_lists > li > a{
    color: var(--msBgLight);
    transition: all 0.2s;
}
ul.product_lists > li > a:hover{
    color: var(--msBg);
    transition: all 0.2s;
}
ul.company_lists{
    padding-left: 75px;
}
ul.company_lists > li{
    position: relative;
}
ul.company_lists > li > a{
    color: var(--msBgLight);
    transition: all 0.2s;
}
ul.company_lists > li > a:hover{
    color: var(--msBg);
    transition: all 0.2s;
}
ul.company_lists > li > .icon{
    left: -75px;
}
footer.footer_wraper{
    position: relative;
    background-image: url('/assets/images/footer/desktop/background-Footer.webp');
    background-position: center center;
    background-size: cover;
    color: var(--msBgLight);
    max-width: 1920px;
    padding: 40px 0 25px;
    border-left: 54px solid var(--msBg);
    border-right: 54px solid var(--msBg);
}
footer.footer_wraper::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--msBgLight);
}
footer.footer_wraper .footer_title{
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
}
footer.footer_wraper .footer_title::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 1.5%;
    width: 97%;
    height: 2px;
    background-color: var(--msBg);
}
footer.footer_wraper .footer_body{
    max-width: 95%;
}
footer.footer_wraper .footer_body .content_group{
    padding: 40px 0;
}
footer.footer_wraper .footer_body .content_group .content{
    position: relative;
    padding: 0 0 0 50px;
}
.col_form{
    background-color: var(--msBg);
}
.col_form .title{
    color: var(--msBgDark);
}
.col_form .title h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.col_form #f-contact-form input{
    height: 42px;
}
.col_form #f-contact-form input,
.col_form #f-contact-form textarea{
    background-color: var(--msBgDark);
    border-color: var(--msBgDark);
    color: var(--msBgLight);
    font-size: 16px;
}
.col_form #f-contact-form .bt-contact {
    font-size: 25px;
    line-height: 35px;
    color: var(--msBg);
    background-color: var(--msBgDark);
    border: none;
    padding: 10px;
    min-width: 80%;
    transition: all 0.2s;
}
.col_form #f-contact-form .bt-contact:hover{
    color: var(--msBgDark);
    background-color: var(--msBgLight);
    transition: all 0.2s;
}
.col_form #f-contact-form input::placeholder,
.col_form #f-contact-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--msBgLight);
    opacity: 1; /* Firefox */
}
.col_form #f-contact-form input:-ms-input-placeholder,
.col_form #f-contact-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--msBgLight);
    opacity: 1;
}
.col_form #f-contact-form input::-ms-input-placeholder,
.col_form #f-contact-form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--msBgLight);
    opacity: 1;
}
@media only screen and (max-width: 640px){
    footer.footer_wraper{
        background-image: url('/assets/images/footer/mobile/background-Footer.webp');
    }
    footer.footer_wraper .footer_body .content_group{
        padding: 10px 0;
    }
}
@media only screen and (max-width: 768px){
    footer.footer_wraper{
        border-left: none;
        border-right: none;
    }
}
.copyright{
    max-width: 1920px;
    position: relative;
    min-height: 44px;
    display: flex;
    background-color: var(--msBg);
}
.copyright .container{
    margin: auto;
}

