:root{
  /* --msBg:hsl(149deg 46% 46%);
  --msBgDark:hsl(220deg 22% 16%);
  --msBgDarkOpacity:#202731ed;
  --msBgLight:#fff; */
  --msBg: #3db072;
  --msBgGreen:#00ff2a;
  --msBgRed:#bc1e2d;
  --msBgDark:#202731;
  --msBgDarkOpacity:#202731ed;
  --msBgLight:#fff;
}
* {
    margin: 0 auto;
    text-decoration: none!important;
    outline: 0!important;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1bb086;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f8261;
}
body {
  font-family: 'Sen',sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  color: #171616;
  font-size: 18px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .24s ease-in-out;
  -moz-transition: opacity .24s ease-in-out;
  transition: opacity .24s ease-in-out;
}
.theme-hl{
    color: var(--msBg);
	word-wrap: break-word;
}
.green-hl{
    color: var(--msBgGreen);
	word-wrap: break-word;
}
.red-hl{
    color: var(--msBgRed);
    word-wrap: break-word;
}
.yellow-hl{
    color: hsl(56deg 91% 65%);
    word-wrap: break-word;
}
.bg-white{
	background-color: var(--msBgLight);
    color: var(--msBgDark);
}
.bg-black{
	background-color: var(--msBgDark);
	color: var(--msBgLight);
}
.bg-green{
	background-color: var(--msBg);
	color: var(--msBgLight);
}
.bg-gray{
    background-color: hsl(240deg 7% 94%);
    color: var(--msBgDark);
}
#tpc {
	padding: 0px 54px;
    background-color: var(--msBg);
    font-size: 16px;
    line-height: 20px;
	font-weight: normal;
	max-width: 1920px;
}
#tpc > #tpc-bg{
    background-color: var(--msBgLight);
}
#tpc h1{
	font-size: 60px;
    font-weight: normal;
    line-height: 70px;
}
#tpc h2{
	font-size: 50px;
    font-weight: normal;
    line-height: 60px;
}
#tpc .d-flex{
    display: flex !important;
}
#tpc .d-inline{
    display: inline !important;
}
#tpc .d-inline-b{
    display: inline-block !important;
}
#tpc .pos-r{
    position: relative !important;
}
#tpc .pos-ab{
    position: absolute !important;
}
#tpc .m-auto{
    margin: auto !important;
}
#tpc .m-0{
    margin: auto;
    margin: 0 !important;
}
#tpc .ml-0{
    margin: auto;
    margin-left: 0 !important;
}
#tpc .mr-0{
    margin: auto;
    margin-right: 0 !important;
}
#tpc .mt-0{
    margin: auto;
    margin-top: 0 !important;
}
#tpc .mb-0{
    margin: auto;
    margin-bottom: 0 !important;
}
#tpc .p-0{
    padding: 0 !important;
}
#tpc .p-0{
    padding: 0 !important;
}
#tpc .pl-0{
    padding-left: 0 !important;
}
#tpc .pr-0{
    padding-right: 0 !important;
}
#tpc .pt-0{
    padding-top: 0 !important;
}
#tpc .pb-0{
    padding-bottom: 0 !important;
}
#tpc .fw-600{
    font-weight: 600;
}
#tpc .fw-500{
    font-weight: 500;
}
#tpc .fw-n{
    font-weight: normal;
}
@media only screen and (max-width: 768px){
    #tpc {
        padding: 0px;
    }
    #tpc h1{
        font-size: 40px;
        font-weight: normal;
        line-height: 46px;
    }
    #tpc h2{
        font-size: 30px;
        line-height: 36px;
    }
}
@media (min-width: 1400px){
	.container{
		width: calc(1370px - 100px) !important;
	}
}
@media (min-width: 1600px){
	.container{
		width: calc(1570px - 100px) !important;
	}
}
@media (min-width: 1800px){
	.container{
		width: calc(1770px - 100px) !important;
	}
}
@media (min-width: 1900px){
	.container{
		width: calc(1920px - 100px) !important;
	}
}

/* start scrollup */

body > .scrollup.right.active {
    right: 15px;
}
body > .scrollup.right {
right: -50px;
}
body > .scrollup {
position: fixed;
bottom: 20px;
width: 50px;
height: 50px;
z-index: 99;
border-radius: 50%;
text-align: center;
cursor: pointer;
opacity: .7;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
background-color: var(--msBg);
}
body > .scrollup:hover {
    background-color: rgba(37,37,37,.7);
}
body > .scrollup i {
font-size: 40px;
color: #fff;
line-height: 45px;
}

/* end scrollup */
